@charset "utf-8";

@font-face{
    font-family: SFUEurostileCondensed;
    src: url(../fonts/main/SFUEurostileCondensed.TTF);
    font-weight: 400;
}
@font-face{
    font-family: SFUEurostileRegular;
    src: url(../fonts/main/SFUEurostileRegular.TTF);
    font-weight: 400;
}
@font-face{
    font-family: SFUEurostileBold;
    src: url(../fonts/main/SFUEurostileBold.TTF);
}
@font-face{
    font-family: SFUEurostileBoldCondensed;
    src: url(../fonts/main/SFUEurostileBoldCondensed.TTF);
}
@font-face{
    font-family: SFUEurostileBoldExtendedTwo_;
    src: url(../fonts/main/SFUEurostileBoldExtendedTwo_.TTF);
}
@font-face{
    font-family: SFUEurostileBoldOblique;
    src: url(../fonts/main/SFUEurostileBoldOblique.TTF);
}
@font-face{
    font-family: SFUEurostileDemi;
    src: url(../fonts/main/SFUEurostileDemi.TTF);
}
@font-face{
    font-family: SFUEurostileDemiOblique;
    src: url(../fonts/main/SFUEurostileDemiOblique.TTF);
}
@font-face{
    font-family: SFUEurostileExtendedTwo;
    src: url(../fonts/main/SFUEurostileExtendedTwo.TTF);
}
@font-face{
    font-family: SFUEurostileOblique;
    src: url(../fonts/main/SFUEurostileOblique.TTF);
}

body{ position: relative;padding:0; margin:0 auto !important; font-size: 16px; line-height: 1.42857143; font-family:'SFUEurostileRegular' !important; color: #000000; min-width: 320px; zoom:1;
      -webkit-text-size-adjust:none;
      -webkit-tap-highlight-color:rgba(0,0,0,0); 
      -webkit-tap-highlight:rgba(0,0,0,0);
      -webkit-font-smoothing: antialiased;
}
.h2, .h2, .h3, h1, h2, h3{font-weight:normal !important;color:#000;font-family:'SFUEurostileCondensed' !important}
.h1, h1, .h1 a, h1 a, .h1 span, h1 span, .h1 p, h1 p, .h1 a, h1 a{font-size:28px !important;}
.h2, h2, .h2 a, h2 a, .h2 span, h2 span, .h2 p, h2 p, .h2 a, h2 a{font-size:24px !important;}
.h3, h3, .h3 a, h3 a, .h3 span, h3 span, .h3 p, h3 p, .h3 a, h3 a{font-size:20px !important;}
.p,.h1,.h2,.h3,.h4,.h5,.h6{ margin: 0; padding: 0;}
.ul,.ul li{ list-style:none; margin: 0; padding: 0;} 
select,input,textarea{ border-radius:0; -webkit-border-radius:0; color:#666460;} 
input:focus { outline: none;}
input,button,select,textarea{ outline:none;/*-webkit-appearance:none;*//*强制去除表单自带的样式*/ } 
textarea{ resize:none;} 
textarea,input,select { background:none; /* border:none; */ margin:0; padding:0;}
audio,canvas,progress,video { display: inline-block; vertical-align:baseline;}
article,aside,footer,header,hgroup,nav,section,figure,figcaption{ display:block;}
figure,figcaption{ margin:0px; padding:0px;}
img{ border:none; border:0; max-width:100%; vertical-align:top;}
a{ color:#000; text-decoration:none; -webkit-tap-highlight-color:rgba(0,0,0,0);}
a:focus {outline:none; -moz-outline:none;}
/* a:hover{ color: #ed2833;} */
.clear{ clear:both; height:0px; overflow:hidden;}
.clearfix:after { content: "."; display: block; height: 0; visibility: hidden; clear: both;
                  font-size: 0px;}
.clearfix { zoom: 1;}
.w1200{ width: 1200px; margin: 0 auto;}
.contain{}
.slidebar{}
.maincontent{}
.content{}
.txtbox,
.singlepage{text-justify:inter-ideograph; text-align:justify; word-wrap:break-word; overflow:hidden;}
.current{}
.m{ max-width:1600px; margin:0 auto;}
.m2{ /* max-width:1200px; */ margin:0 auto;}

/* .header_m .header_search{ text-align:center; float:right; padding:5px 7px; margin:18px 15px 0 0; cursor:pointer;}
.header_m .header_search .glyphicon{ font-size:16px;}
.header_m .hsearch_m{ position:absolute; top:90px; right:20%; background:#201c6f; width:230px; padding:10px 15px; display:none; z-index:999;}
.hsearch_m .hsearch_input{ background:#fffaf6; height:26px; border-radius:3px; padding:0 10px;}
.hsearch_m .hsearch_btn .glyphicon{ color:#fffaf6; padding:6px 10px; font-size:16px;} */

.header_m .header_r{ background:#3f434b; color:#fffaf6; width:100%; margin-top:15px;}
.header_r .ul{ float:left;}
.header_r .ul li{ float:left;}
.header_r .ul a{ font-size:12px; color:#fffaf6; display:inline-block; padding:6px 0;}
.header_r .ul i{ display:inline-block; width:18px; height:18px; vertical-align:middle; margin:-2px 8px 0 15px;}
.header_r .ul .header_i1{ background:url(../img/en/header_i1.jpg) no-repeat;}
.header_r .ul .header_i2{ background:url(../img/en/header_i2.jpg) no-repeat;}

.header_m .header_r .header_site{ float:right; margin-right:15px; padding:6px 5px; font-size:12px; cursor:pointer;}
.header_m .header_r .header_site:hover{ color:#90c31f;}
.header_site .glyphicon{ margin-left:5px;}
.header_site:hover .glyphicon{ color:#90c31f;}

.share{ text-align:center; margin-bottom:22px;}
.share a span{ display:inline-block !important; width:36px; height:36px; margin:0 5px;}
.share a{ display:inline-block;}
.share .share_a1 span{ background:url(../img/en/link1.jpg) no-repeat; height:36px !important; padding:0 !important;}
.share .share_a2 span{ background:url(../img/en/link2.jpg) no-repeat; height:36px !important; padding:0 !important;}
.share .share_a3 span{ background:url(../img/en/link3.jpg) no-repeat; height:36px !important; padding:0 !important;}
.share .share_a4 span{ background:url(../img/en/link4.jpg) no-repeat; height:36px !important; padding:0 !important;}
.share .share_a5 span{ background:url(../img/en/link5.jpg) no-repeat; height:36px !important; padding:0 !important;}
.jiathis_style_32x32  .jtico{ display:inline-block !important;}
.links{ text-align:center; margin-bottom:10px;}
.links a{ color:#989898;}
.links em{ display:inline-block; width:1px; height:10px; background:#989898; margin:0 5px 0 10px;}
.copyright{ padding:0 15px; text-align:center;}
.copyright span{ display:inline-block; color:#989898;}
.copyright a{ color:#989898;}
.copyright a:hover{ color:#90bc28;}
.bottom_icp{ padding:0 10px;}
.gotop{width: 50px;height: 52px;background:url(../img/back_to_top.png) no-repeat;background-size:100% 100%;position: fixed;right: 50px;bottom: 270px;cursor:pointer;z-index:99;}
.homeban_pc{ display:none;}
.homeban .bx-wrapper img{ width:100%;}
.homeban .bx-wrapper{ max-width:100% !important;}
.homeban .bx-wrapper{ margin:0 auto;}
.homeban .bx-wrapper .bx-pager.bx-default-pager a{ width:8px; height:8px; border:2px solid #ed2833;; border-radius:8px; background:none;}
.homeban .bx-wrapper .bx-pager.bx-default-pager a:hover,
.homeban .bx-wrapper .bx-pager.bx-default-pager a.active{ background:#ed2833;border-color:#ed2833;}
.homeban .bx-wrapper .bx-pager,
.homeban .bx-wrapper .bx-controls-auto{ bottom:10px;}

.home_h{ padding:0px;background:#201c6f;height:60px;display:inline-block;width:100%;}
.home_h .h2{ font-size:24px; color:#fffaf6; float:left;margin-top:10px;font-weight:normal;font-family:'SFUEurostileCondensed'}
.home_h i{ margin-top: 19px;margin-right: 5px;height: 20px;width:20px;float:left;}
.horizonBar i{background: url(../img/en/main/icon_02.png) no-repeat;}
.home_h .h2 i{ display:inline-block; width:26px; height:26px; vertical-align:middle; margin:-3px 8px 0 0;}
.home_h .h2 .home_hi1{ background:url(../img/en/home_hi1.png) no-repeat;}
.home_h .h2 .home_hi2{ background:url(../img/en/home_hi2.png) no-repeat;}
.home_h .h2 .home_hi3{ background:url(../img/en/home_hi3.png) no-repeat;}
.home_h .home_hmore, .timeline-event-content .home_hmore{ cursor: pointer;text-align:center;position:relative;margin-right:20px;margin-top: 10px;line-height:2.5;display:block;width:136px;height:40px;float:right;}
.timeline-event-content .home_hmore{bottom: -2px;right: 0;clear: both;margin-right: 0;}
.home_h .home_hmore i, .timeline-event-content .home_hmore i{background: url(../img/arrow_02.png) no-repeat;position:absolute;margin-left:5px;float:right;height:12px;width:16px;margin-top:15px;margin-right: 20px;}
.homeproject{ background:#ededed; padding-bottom:20px;}
.homeproject .ul img{ width:100%;}
.homeproject .ul .p{ font-size:18px; color:white; font-weight:bold; padding:10px 0 28px; text-align:center;}

.homecase{ background:#fffaf6; padding-bottom:25px;}
.hc_list .ul li{ padding:0 15px 30px;}
.hc_list .ul .hc_img{ position:relative;}
.hc_img img{ width:100%;}
.hc_img .hc_name{ position:absolute; bottom:0; left:0; width:100%; height:60px; line-height:60px; background:#ed2833;; color:#fffaf6; font-size:20px; font-weight:bold; text-align:center;}
.hc_text .h3{ visibility: hidden; font-size:18px; font-weight:normal;line-height:25px; height:25px; margin:5px 0 5px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.hc_text .p{ height:40px;overflow : hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;}
.hc_text .hc_icon{ display:none;}

.side_h .sidebanner_pc{ width:100%; height:419px; display:none;}
.side_h .sidebanner_mb img{ width:100%;}
.side_h .crumb{ padding:16px 0;}
.side_h .crumb a,.side_h .crumb span{ font-size:12px;}
.side_h .crumb a:hover{ color:#90c31f;}
.side_h .crumb span{ color:#90c31f;}
.menu{text-align:center; padding:32px 0 22px; /* border-bottom:1px solid #ededed; */}

/* .menu a, .menu2 a{ cursor: pointer;width:100%;background:#201c6f;display:inline-block;height:40px;line-height:1.7;color:#fffaf6;font-size:20px;margin-bottom:15px;} */
.menu a, .menu2 a{cursor: pointer;width:160px;background:#201c6f;display:inline-block;height: 36px;line-height:1.7;padding: 4px 10px 0 10px;color:#fffaf6;font-size: 18px;/* border-radius:30px; */margin-bottom:15px;}


.menu .onnav,.menu a:hover{ color:#fffaf6; background:#ed2833;}

.pd4_h .onnav{display: block;padding: 6px 10px;font-size: 12px;border-radius: 30px;margin-top: 7px;margin-left: 30px;margin: 7px auto;border-bottom: 1px solid #ededed;color: #fffaf6;background: #90c31f;width: 107px;}

.about_body{ padding:0px 15px 60px; margin-bottom:0px}
.about_body .hi_box{ padding-right: 25px; }
.about_body .about1{ margin:0 0 20px; padding:20px 15px; border:1px solid #ededed; background:#fcfcfc;}
.about_list .about_img img{ width:100%;}
.about_list .ul li{ margin-bottom:35px;}
.about_text .h3{ font-size:18px; color:#333; font-weight:normal; margin:10px 0 10px;}
.about_text em{ display:block; width:51px; height:7px; background:url(../img/en/about.png) no-repeat;}
.about_text .p{ color:#666; margin-top:10px;}
.about_list .ul .li_video video{ width:100%;}

.Floor001014{ padding:0;}
.Floor001014 .title{ padding:18px 0; overflow:hidden; background-color:#fffaf6;}
.Floor001014 .title em{ font-style:normal; font-size:20px; float:left;}

.Floor001014 .title em span{ color:#c8c8c8; font-size:12px; font-family:'SFUEurostileRegular',sans-serif; display:block; text-transform:uppercase;} /* maineror */

.Floor001014 .list_scroll{ width:90%; position:relative; z-index:1; margin:0 auto;}
.Floor001014 .list_copy{ display:none;}

/* lỗi */

.Floor001014 .list_scroll li{ text-align:center; line-height:40px; cursor:pointer; font-size:15px;}
.Floor001014 .list_scroll li.on{ font-weight:bold; color:#0e408b;}
.Floor001014 .list_scroll li.on::before,
.Floor001014 .list_scroll li::after{position:absolute; content:'';}
/* lỗi */
.Floor001014 .list_scroll li.on::before{  left:50%; margin-left:-5px; bottom:0; width:0; height:0; border:5px solid #0e408b; border-left-color:transparent;border-right-color:transparent; border-bottom:0;}
.Floor001014 .list_scroll li::after{ background-color:#cdcdcd; width:4px; height:4px; border-radius:50%; right:0; top:50%; margin-top:-2px;}
.Floor001014 .list_scroll .bx-viewport{ z-index:2;}
.Floor001014 .list_scroll .bx-controls-direction{ position:absolute; right:-50px; padding:0 50px; top:35%; margin-top:-16px; width:100%; height:33px; z-index:5; }
.Floor001014 .list_scroll .bx-controls-direction a{ display:inline-block; width:33px; height:33px; background-image:url(../img/en/Floor001014-btn.png); background-repeat:no-repeat; overflow:hidden; line-height:100px; float:left;margin-left:7px;}
.Floor001014 .list_scroll .bx-controls-direction a.bx-prev{ background-position:0 0;}
.Floor001014 .list_scroll .bx-controls-direction a.bx-prev.disabled{ background-position:0 0;}
.Floor001014 .list_scroll .bx-controls-direction a.bx-next{ background-position:right bottom; }
/*.Floor001014 .list_scroll .bx-controls-direction a.bx-next.disabled{ background-position:right bottom;}*/
.Floor001014 .bx-pager{ display:none;}
.Floor001014 .list_content .bx-controls{ display:none;}
/* lỗi */
.history_body{ background:pink;}
.Floor001014 .list_scroll .bx-viewport{ padding-top:50px;}
.Floor001014 .list_scroll li{ border-radius:50px;}
.Floor001014 .list_scroll li.on{ color:#fffaf6; background:#90c31f; font-weight:normal;}
.Floor001014 .list_scroll li.on::before{border: 5px solid #90c31f;border-left-color: transparent;border-right-color: transparent;border-top: 0; top:-5px; font-weight:normal; color:#fffaf6;}
.Floor001014 .list_scroll li::after{ background:#808288; width:80px; height:12px; top:-22px; left:45%; background:url(../img/en/banner_line.jpg) no-repeat; background-size:100% 100%; border-radius:0;}
.Floor001014 .list_scroll li.on::after{ background:url(../img/en/banner_line2.jpg) no-repeat;}

.Timeline001524{ padding-bottom:50px;}
.Timeline001524 .columnName{ text-transform:uppercase; padding:50px 0; line-height:normal; text-align:center; font-size:61px; color:#c20f00;}
.Timeline001524 .columnName span{ display:block; color:#353535; font-size:30px; padding:10px 0 15px;}
.Timeline001524 .columnName i{ display:block; margin:0 auto; width:40px; height:2px; background-color:#c20f00;}
.Timeline001524 .list{ background:url(../img/en/Timeline001524-logo.jpg) no-repeat center top; padding-top:23px; margin-top:20px;}
.Timeline001524 .list ul{ background:url(../img/en/Timeline001524-ul.jpg) repeat-y center top; padding:54px 0;}
.Timeline001524 li{ padding-left:50%; background:url(../img/en/Timeline001524-li.png) no-repeat center top; padding-top:10px; padding-bottom:10px;}
.Timeline001524 li div{ padding-left:36px;}
.Timeline001524 li div p{ font-size:14px;}
.Timeline001524 li.odd{ text-align:right; padding-left:0; padding-right:50%;}
.Timeline001524 li.odd div{padding-left:0; padding-right:36px;}
.Timeline001524 li time{ display:block; color:#353535; font-size:18px; padding-top:12px; background:url(../img/en/Timeline001524-time.gif) no-repeat left top;}
.Timeline001524 li.odd time{ background-image:url(../img/en/Timeline001524-time_odd.gif); background-position: right top;}
.Timeline001524 ol{ text-align:center;}
.Timeline001524 ol a{ display:inline-block; width:142px; height:30px; line-height:30px; text-align:center; color:#fffaf6; font-size:14px; background:url(../img/en/history_more.jpg) no-repeat;}
.Timeline001524 .list .history_img{ width:258px; height:116px;}
.history_list dl,.history_list dd{ margin:0;}
.history_list dl dd{ margin-bottom:25px; padding:0 10px;}
.history_list .hl_img img{width:100%;}
.history_list .hl_text{}
.history_list .hl_time{ width:90px; height:28px; color:#fffaf6; line-height:28px; text-align:center; background:#808288; border-radius:28px; margin:15px 0;}
.history_list dl dd .dd_i{ display:none;}

.culture_body{ padding:25px 10px;}
.culture_body .ul li{ margin-bottom:30px;}
.culture_body .ul li img{ width:100%;}
.culture_text .h3{ font-size:18px; color:#90c31f; font-weight:normal; margin:5px 0;}
.culture_text .p{ font-size:14px;}

.speak_body{ padding:30px 10px;}
.speak_body .speak1{ background:url(../img/en/speak1.jpg) no-repeat; background-size:100% 100%; padding:20px 0; text-align:center; margin-bottom:25px;}
.speak_body .speak2{ margin-bottom:25px;}
.speak_body .speak2 img{ width:100%;}
.speak1 .h3{ font-size:25px; color:#90c31f; font-weight:normal;}
.speak1 .p{ font-size:16px; color:#9e9e9e;}
.speak2_text .p{ color:#666; margin-bottom:20px;}
.speak2_text .p1{ font-size:18px; color:#90c31f; margin-bottom:25px;}
.speak2_text .p1{ margin-bottom:25px;}

.sdetail_body{ padding:50px 0;}
.sdetail_body .sd1{ padding:0 10px 20px;}
.sdetail_body .sd1 .h3{ font-size:20px; color:#666; font-weight:normal;}
.sdetail_body .sd1 .p{ color:#666; height:115px; overflow: hidden;}
.sdetail_body .sd1 .ul{ margin-top:45px;}
.sd1 .ul li{ margin-bottom:20px;overflow: hidden; height:180px; padding:20px 3.6% 20px 12.7%;background:url(../img/en/sdetail.png) #f7f7f7 no-repeat 5.45% 50px; }
.sd1 .ul .h4{ font-size:17px; color:#666;}
.sdetail_body .sd2{ background:#f7f7f7; padding:25px 0 32px;}
.sdetail_body .sd2 .h3{ font-size:20px; color:#666; font-weight:normal; margin:0 0 10px 10px;}
.sd2 .sd2_img img,.sd3 .sd3_img img{ max-width:250px;max-height:250px}
.sdetail_body .sd3{ padding:20px 10px 20px;}
.sdetail_body .sd3 .h3,.sdetail_body .sd4_banner .h3{ font-size:20px; color:#666; font-weight:normal; margin-bottom:16px;}
/* .sd3 .ul li{ margin-bottom:30px; border:1px solid #201c6f;} */
/* .sd3 .sd3_text{ padding:0 25px 20px;} */
.sd3 .sd3_text h3 a{color:#201c6f}
.sd3 .sd3_text .h4{ margin:5px 0 5px;}
.sd3 .sd3_text .h4 a{ font-size:16px;}
.sd3 .sd3_text .p{ color:#000; /* max-height:50px; */ line-height:24px;overflow:hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 5;-webkit-box-orient: vertical;}

.sd1 ul li p,
.sd1 ul li .p,
.sd1 ul li span,
.sd1 ul li p.MsoListParagraph,
.sd1 ul li span.MsoListParagraph{text-indent: 0 !important; margin-left: 0 !important;} 

.sd4_banner{ margin:45px auto 0; padding:0 10px;}
.sd4_banner .picScroll-left{ overflow:hidden; position:relative;}
.sd4_banner .picScroll-left .hd{ overflow:hidden;  height:30px; padding:25px 0 50px;}
.sd4_banner .picScroll-left .pic{ width:280px; position:relative;}
.sd4_banner .picScroll-left .hd .next{ background-position:0 -50px;  }
.sd4_banner .picScroll-left .hd .prevStop{ background-position:-60px 0; }
.sd4_banner .picScroll-left .hd .nextStop{ background-position:-60px -50px; }
.sd4_banner .picScroll-left .hd ul{ padding:0; overflow:hidden; zoom:1; margin-top:10px;  zoom:1; text-align:center; }
.sd4_banner .picScroll-left .hd ul li{ display:inline-block; width:10px; height:10px; overflow:hidden; margin:0 6px; text-indent:-999px; cursor:pointer; background:url(../img/en/point1.jpg) no-repeat;border-radius:10px;}
.sd4_banner .picScroll-left .hd ul li.on{ background:url(../img/en/point2.jpg) no-repeat; }
.sd4_banner .picScroll-left .bd{}
.sd4_banner .picScroll-left .bd ul{ overflow:hidden; zoom:1; }
.sd4_banner .picScroll-left .bd ul li{ margin:0 10px; float:left; _display:inline; overflow:hidden; text-align:center; list-style:none;}
.sd4_banner .picScroll-left .prev,.sd4_banner .picScroll-left .next{ display:block; width:20px; height:20px; line-height:20px; border-radius:20px; position:absolute; overflow:hidden; display: inline-block;font-family: 'Glyphicons Halflings';font-style: normal;font-weight:bold;-webkit-font-smoothing: antialiased;font-size: 12px;color: #cdcdcd;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;border:2px solid #cdcdcd;text-align:center;}
.sd4_banner .tempWrap{ margin:0 auto;}
.sd4_banner .picScroll-left .prev{ top:45%; left:0; }
.sd4_banner .picScroll-left .next{ top:45%; right:0; }
.sd4_banner .picScroll-left .prev:hover, .sd4_banner .picScroll-left .next:hover{ color:#90c31f; border-color:#90c31f;}
.sd4_banner .sd4_name{ position:absolute; bottom:0; left:0; width:100%; height:60px; line-height:60px; background:rgba(144,195,31,0.8); color:#fffaf6; font-size:20px; font-weight:bold; text-align:center;white-space: nowrap;overflow: hidden;text-overflow: ellipsis}

.case_body{ padding:30px 10px;}
.case_body .ul li{ position:relative; overflow:hidden; margin-bottom:36px; border:1px solid #ebebeb;box-sizing:border-box; -moz-box-sizing:border-box; /* Firefox */ -webkit-box-sizing:border-box; background:#fdfdfd;}
.case_body .case_img{ width:100%;}
.case_body .case_img img{ width:100%;}
.case_body .case_text{ padding:15px 20px;border: 2px solid #201c6f;}
.case_body .case_text .h3{overflow: hidden;text-overflow: ellipsis;white-space: nowrap;color:#201c6f;}
.case_body .case_text .h3:hover{color:#ed2833;}
.case_body .case_text .h3 a{ font-size:16px; color:#000000;}
.case_body .case_text .h3 a:hover{ color:#90c31f;}
.case_body .case_text .p{ color:#a6a6a6; line-height:22px; height:44px; overflow : hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical; margin-bottom:35px;}
.case_body .case_text .case_more{ display:block; width:130px; height:30px; line-height:30px; text-align:center; border:1px solid #d2d2d2; color:#999; margin:0 auto; border-radius:2px;}
.case_body .case_text .case_more:hover{ background:#90c31f; color:#fffaf6; border-color:#90c31f;}
.case_body .case_info{ display:none;}
.case_body .case_info .box dl span{ display:block; text-align:left; padding:5px 20px;}
.case_body .case_info .box dl{ padding:0; margin:0}

.product_body .product_box{ display:none;}
.product_body .product_show{ display:block;}
/*产品中心 结束*/



/*产品详情页*/
.pd1{ background:#f3f3f3; padding:30px 10px;}
.pd1 .pd1_img img{ width:100%;}
.pd1 .pd1_text{}
.pd1 .pd1_text .h3{ font-size:20px; color:#3f434b; font-weight:normal; margin:5px 0 10px;}
.pd1 .pd1_text .p{ color:#4a4a4a;}

.pd2{ padding:30px 10px;}
.pd2 .ul li{ margin-bottom:30px;}
.pd2 .h3{ font-size:20px; color:#4a4a4a; font-weight:normal; margin-bottom:5px;}
.pd2 .p{ font-size:16px; color:#818181; margin-bottom:30px;}
.pd2 .pd2_img{ float:left; width:25%; text-align:right;}
.pd2 .pd2_img img{ margin-top:10px;}
.pd2 .pd2_text{ float:left; width:69%; padding:0 3%;}
.pd2 .pd2_text .h4{ font-size:18px; color:#4a4a4a; font-weight:normal;}
.pd2_text dl,.pd2_text dd{ margin:0;}
.pd2_text dl dd{ /*background:url(../img/en/product_bg.jpg) no-repeat left center;*/ padding-left:10px; color:#818181; margin-bottom:3px;}

.pd3{padding:30px 10px 50px; /* background:#f3f3f3; */}
.pd3 .h3{ font-size:20px; color:#4a4a4a; margin-bottom:20px;}
.pd3 .pd3_m{ /*margin-bottom:30px;*/}
.pd3 .pd3_m .pd3_h{ font-size:16px; color:#90c31f; margin-bottom:15px;text-align: center;width: 100%;background-color: #eee;padding:10px 0;}
.pd3_m .tex table{line-height: 35px; width: 100%; color: #000;border-collapse: collapse}
.pd3_m .tex thead{background: #e60012;}
.pd3_m .tex thead th{font-size: 14px; text-align: center; color: #fffaf6;}
.pd3_m .tex tr,
.pd3_m .tex td,
.pd3_m .tex thead th{border-bottom: 2px solid #201c6f;padding-left: 20px;}
.pd3_m .list .title{ font-size: 16px; line-height:45px;  margin:0 0 2px 0; padding:0 16px; color: #fffaf6; cursor:pointer; background-color:#201c6f; /* background-image:url(../img/en/r-p.png); */ background-repeat:no-repeat; background-position:right top;  -webkit-transition:all ease 0.5s;transition:all ease 0.5s;}

.pd3_m .list .title_n{ width:250px; border-bottom: 2px solid #201c6f; text-align:center; font-size: 20px; line-height:45px;  margin:auto; padding:0 16px; color: #201c6f; cursor:pointer; background-color:transparent; /* background-image:url(../img/en/r-p.png); */ background-repeat:no-repeat; background-position:right top;  -webkit-transition:all ease 0.5s;transition:all ease 0.5s;}
.pd3_m .list .title_n:hover{border-bottom: 2px solid #ed2833;;color:#ed2833;}

.pd3_m .list.on .title{ background-position:right bottom;}
.pd3_m .list .tex{ display:none;}
table tbody tr{text-align:left;height: 40px;}
/* table tbody tr th{text-align:center;background:#ed2833;color:#fffaf6FFF; height:38px;} */
table tbody tr th{text-align:left;background:transparent;color:#ed2833;height:38px;padding-left:20px;}
table tbody tr th:first-child{border-right: 2px solid #201c6f;}
table tbody tr td:first-child{ width:50%;border-right: 2px solid #201c6f;}
/*.pd3_m .tex{display: none;}
.pd3_m .ul{ border-bottom:1px solid #e4e4e4; padding-bottom:25px;}
.pd3_m .ul li{ padding:8px 0;}
.pd3 .pd3_m:last-child .ul{ border:none;}*/

.pd4{ padding:30px 10px;}
.pd4 .pd4_h .h3{ font-size:18px; color:#4a4a4a; font-weight:normal; margin-bottom:10px;}
.pd4 .pd4_h .pd4_input{ border:1px solid #eee; border-radius:40px; margin:15px 0;}
.pd4_input input{ float:left; width:74%; height:44px; line-height:44px; padding:0 4%;}
.pd4_input .pd4_btn{ display:block; float:left; width:16%; height:44px; background:url(../img/en/pd4_btn.jpg) no-repeat center center;}
.pd4 .pd4_h .pd4_filter{ text-align:center;}
.pd4_filter a{ display:inline-block; width:100px; height:25px; text-align:center; line-height:25px; border:1px solid #ededed; color:#4a4a4a; font-size:12px; border-radius:40px; margin:15px 0;}
.pd4_filter .pd4_active,.pd4_filter a:hover{ color:#fffaf6; background:#90c31f; border-color:#90c31f;}

.content-txt{ margin-left:2%;}
.content-txt .h1{ font-size:18px;}
.content-txt .h2{ padding:10px 0; font-size:20px; color:#009900; font-weight:bold; border-bottom: 1px solid #ddd;}
.content-txt .h3{padding:10px 0;  color:#009900; font-weight:bold;}
.content-txt .list{ overflow:hidden; padding:10px 0}
.content-txt .list .txt{  padding-bottom:20px;}
.content-txt .list .txt:nth-child(even){ clear:both;}

.db1 .db1_h{ font-size:16px; color:#000000; font-weight:bold; padding:25px 15px;}
.db1 .ul{ background:#fffaf6; padding:10px 15px;}
.db1 .ul li{ display:inline-block; margin:0 10px 0 0; padding:8px 0;}
.db1 .ul li a{ display:block; padding:3px 6px;}
.db1 .ul li a:hover,.download_body .ul li .active{ background:#90c31f; color:#fffaf6; border-radius:5px;}

.download_search{ padding-top:0;}
.download_search .pd4_h .pd4_input{ float:left; width:100%;}

.question_search{ padding-top:0;}
.question_search .pd4_h .pd4_input{ float:left; width:100%;}
.question_list{ padding:30px 0;}
.question_list .ul li{ margin-bottom:15px;}
.question_list .qs_h{ border:1px solid #f0f0f0; background:#fffaf6; cursor:pointer;}
.qs_h .qs_number{ float:left; width:30px; height:30px; line-height:30px; text-align:center; color:#90c31f; font-size:16px; background:#f3f3f3;}
.qs_h .p{ float:left; padding:6px 10px 3px;}
.question_list .qs_body{ margin:10px; padding:10px; border:1px solid #f0f0f0; display:none;}
.qs_body .p2{ margin-top:15px;}

.question_list .qs_active{ border-color:#fffaf6; background:#f3f3f3;}
.qs_active .qs_number{ background:#90c31f; color:#fffaf6;}

.service_body{ padding:30px 10px;}
.service_body .service1{ background:#ededed; padding:15px;}
.service_body .service1 .p{ color:#000000; line-height:24px;}
.service_h{ padding:25px 0 15px;}
.service_h .h3{ font-size:20px; color:#3f434b; font-weight:normal; text-align:center;}
.service_h em{ display:block; width:51px; height:7px; background:url(../img/en/about.png) no-repeat; margin:16px auto -15px;}
.service_body .service_intro{ margin-bottom:10px;}
.service_body .service_map img{ width:100%;}
.service_body .service2{ background:#eeeff3;}
.service_body .service2 img{ width:100%;}
.service2 .service2_text{ padding:10px 20px 30px;}
.service2 .service2_text .p{ text-align:center; font-size:14px; margin-bottom:5px;}
.service2 .service2_text .p2{ font-size:16px; color:#90c31f; font-weight:bold;}
.service_body .service3{ margin-top:40px;}
.service3 .ul li{ margin-bottom:15px;}
.service3 .ul img{ width:100%;}
.service3 .ul .p{ padding:20px 0; text-align:center;}
.service_body .service4{}
.service4 img{ width:100%;}
.service4 .service4_text{ padding:25px 0 35px;}
.service4 .service4_text .h4{ font-size:18px; color:#90c31f; font-weight:normal; margin-bottom:20px;}
.service4 .service4_text .p{ line-height:24px;}
.service4 .service4_text .service4_more{ display:block; width:125px; height:32px; line-height:32px; border-radius:32px; text-align:center; background:#90c31f; margin:30px auto 0;}
.service4_text .service4_more span{ color:#fffaf6; text-decoration:underline;}

.qa_search{ background:url(../img/en/qa_bg2.jpg) #567ca1 no-repeat center bottom; background-size:auto 100%; padding:0 0 30px;}
.qa_search .service_h .h3{ color:#fffaf6;}
.qa_search .qa_input{ padding:0 10px;}
.qa_search .qa_input .pd4_input{ background:#fffaf6; max-width:500px; margin:0 auto;}
.qa_search .qa_ht{ padding:10px 10px; border-bottom:1px solid #fffaf6; max-width:500px; margin:20px auto 0;}
.qa_search .qa_ht .p{ float:left; color:#fffaf6; padding-top:6px;}
.qa_search .qa_ht .qa_more{ display:block; float:right; display:block; width:125px; height:32px; line-height:32px; border-radius:32px; text-align:center; background:#90c31f;}
.qa_ht .qa_more span{ color:#fffaf6; text-decoration:underline;}
.qa_body{ padding:10px 10px;}
.qa_body .qa_info{ padding:20px 15px; border:1px solid #e8e8e8;}
.qa_body .qa_info .p{ color:#a6a6a6;}
.qa_body .qa_info .p1{ margin-top:22px;}
.qa_body .qa_info .p2{ font-weight:bold; color:#90c31f; font-size:16px; margin:40px 0 20px;}

.join_body{ padding:0 10px;}
.join_body .join1{ padding:40px 0;}
.join_body .join1 .h3{ font-size:24px; color:#90c31f; font-weight:normal;}
.join_body .join1 .p{ font-size:16px;}
.join2{ background:#f7f7f7; padding:20px 10px;}
.join2 .join2_h{ font-size:24px;}
.join2_list .join2_img{ position:relative; border-radius:5px; overflow:hidden; margin-top:30px;}
.join2_list .join2_img img{ width:100%;}
.join2_list .join2_img .p{ font-size:24px; color:#fffaf6; width:100%; height:50px; line-height:50px; text-align:center; position:absolute; bottom:0; left:0; background:#90c31f;}
.join2_list .ul li{ width:46%; margin:15px 2%; float:left; background:#fffaf6; text-align:center; padding-top:30px; border:1px solid #f0f0f0;box-sizing:border-box; -moz-box-sizing:border-box; /* Firefox */ -webkit-box-sizing:border-box; border-radius:5px;}
.join2_list .ul li .p{ padding:35px 0 30px; font-size:22px;}
.join3{ padding:30px 10px;}
.join3 .h3{ font-size:24px; font-weight:normal; text-align:center; margin-bottom:10px;}
.join3 img{ display:block; margin:0 auto;}

.staff_body{ padding:30px 10px 25px;}
.staff_body .ul img{ display:block; margin:0 auto;}
.staff_body .ul .p{ font-size:20px; text-align:center; margin:30px 0 45px;}

.recruit_body{ padding:20px 0 60px;}
.recruit_h{ padding:36px 0; text-align:center;}
.recruit_h a{ margin:0 15px; font-size:16px;}

.recruit_h .onnav,.recruit_h a:hover{ color:#90c31f; border-bottom:2px solid #90c31f;}
.recruit1 .rb_city{ width:150px; height:50px; position:relative; margin:0 auto; margin-bottom:20px; float:left; margin-left:10px;}
.rb_city .rb_choose{ width:150px; height:50px; line-height:50px; text-align:center; font-size:16px; border-radius:50px; background:#f7f7f7; position:absolute; top:0; z-index:99;}
.rb_choose .rb_icon{ display:inline-block; width:12px; height:8px; background:url(../img/en/down2.jpg) no-repeat; vertical-align:middle; margin:-2px 0 0 10px;}
.rb_avtive .rb_icon{ background:url(../img/en/down1.jpg) no-repeat;}
.rb_city .rb_down{ background:rgba(144,195,31,0.8); width:150px; padding:30px 0 10px; position:absolute; top:25px; border-bottom-left-radius:10px; border-bottom-right-radius:10px; display:none;}
.rb_down .ul li{ text-align:center; color:#fffaf6; height:30px; line-height:30px;}
.recruit1 .rb_search{ float:left; width:90%; padding:0 5%;}
.rb_search .pd4_h .pd4_input{ margin:0;}

.rb2_body{ border:1px solid #e8e8e8; border-top:none; border-bottom:none; margin-top:30px;}
.rb2_body .rb2_head{ background:#90c31f; color:#fffaf6; padding:10px 0;}
.rb2_body .rb2_head span,.rb2_body .rb2_h span{ display:block; float:left;}
.rb2_body .rb2_h{ background:#fffaf6; border-bottom:1px solid #e8e8e8;}
.rb2_body .rb2_h span{ font-size:12px; padding:10px 0;}
.rb2_body .rb2_h .span1,
.rb2_body .rb2_h .span2,
.rb2_body .rb2_h .span3,
.rb2_body .rb2_h .span4{ cursor:pointer;}
.rb2_body .span1{ width:40%;}
.rb2_body .span2{ width:20%; text-align:center;}
.rb2_body .span4{ width:20%; text-align:center;}
.rb2_body .span5{ width:20%; text-align:center;}
.rb2_body .rb2_h .apply_a{ display:inline-block; background:#3f434b; color:#fffaf6; padding:2px 3px;}
.rb2_detail{ padding:0 10px 15px; display:none;}
.rb2_detail .h3{ font-size:16px; color:#90c31f; margin:35px 0 15px;}
.rb2_detail .p{ color:#a6a6a6;}
.rb2_detail .h3 em{ font-size:16px; font-style:normal; color:#0046d1; font-weight:normal; text-decoration:underline;}

/* .rb2_body .rb2_hactive{ background:#f6f6f6;} */
.rb2_body .rb2_hactive .apply_a{ background:#90c31f;}

.rb2_body .rb2_head .span3,.rb2_body .rb2_h .span3{ display:none;}

.hover{ width:100%; height:100%; background:rgba(0,0,0,0.6); position:fixed; top:0; left:0; z-index:999; display:none;}
.hover .hover_m{ position:absolute; top:22%; width:100%;}
.hover .hover_m .hover_box{ width:600px; padding-bottom:30px; margin:0 auto; background:#fffaf6; position:relative;}
.hover_box .h3{ font-size:25px; color:#90c31f; font-weight:normal; text-align:center; height:50px; line-height:50px; background:#ededed; margin-bottom:20px;}
.hover_box .hover_item{ margin-bottom:25px; padding-left:70px;}
.hover_box .hover_item span{ display:inline-block; width:100px; padding-right:15px; text-align:right; font-size:16px; color:#444;}
.hover_box .hover_item input{ width:310px; border:1px solid #eee; padding:10px 10px;}
.hover_box .hover_code input{ width:100px;}
.hover_box .hover_code img{ width:80px; height:32px;}
.hover_box .hover_btn{ text-align:center;}
.hover_box .hover_btn input{ display:inline-block; width:115px; height:40px; line-height:40px; font-size:16px; text-align:center; color:#fffaf6; background:#90c31f; border:none; cursor:pointer; cursor:pointer; margin:0 15px;}
.hover_box .hover_btn .hover_reset{ background:#b5b5b5;}
.hover_box .hover_close{ display:block; width:50px; height:50px; background:url(../img/en/hover_close.jpg) no-repeat; position:absolute; right:0; top:0; cursor:pointer;}

.other_body{ padding:30px 10px; min-height:500px;}
.links_body{ width:90%; padding:20px 5% 50px; min-height:500px;}
.links_body .ul li{ width:40%; margin:20px 5% 0; float:left;}
.links_body .ul .links_img{ width:100%;}
.links_body .ul .links_img img{ width:100%;}
.links_body .ul .p{ padding:10px 0; text-align:center; font-size:16px;}
.links_body .ul li:hover .p{ color:#ffa800;}

.detail_m .home_contact{ padding:15px 0;}
.detail_body{ padding:0 15px;}
.detail_body .detail_head{ padding:30px 0 15px; border-bottom:1px dashed #999;}
.detail_body .detail_head .detail_h{ font-size:25px; font-weight:normal; text-align:center; margin-bottom:10px;}
.detail_body .detail_head .detail_time{ font-size:15px; color:#ccc; text-align:center;}
.detail_body .detail_text{ padding:25px 0 50px;}

.result_body{ min-height:500px;}
.result_body .result_table{ padding:25px 0 50px;}
.result_table table{ width:100%; border:1px solid #e8e8e8;}
.result_table table thead{ background:#ed2833; color:#fffaf6;}
.result_table table td,.result_table table th{ padding:10px 2%; text-align:left; font-size:16px; font-weight:normal;}
.result_table table td{ border-top:1px solid #e8e8e8;}
.result_table table .td1{ width:75%;}
.result_table table .td2{ width:25%;}

.ul_sitemap li{ border-bottom:dotted 1px #ddd; padding:5px 0px;}
.ul_sitemap li strong{ width:90px; display:inline-block;}
.BMap_Marker>div img{ max-width:none;}


/*侧方悬浮框*/
.commonposition{position: fixed;top:40%;right:0;z-index: 99; display:none;}
.commonposition a{display:block;width:69px;height:66px;margin-bottom: 1px;background-color:#8cc63f;padding-top: 3px;background-repeat: no-repeat;background-position:center center;position: relative;font-size: 13px;line-height: 22px;text-align: center;color:#fffaf6;}
.commonposition a .icon{display:block;width:40px;height:40px;margin:0 auto;}
.commonposition a.Homedianhua .icon{background-image: url(../img/en/nqhicon_03.png);}
.commonposition a.Homezixun .icon{background-image: url(../img/en/nqhicon_02.png);}
.commonposition a.Homeweixin .icon{background-image: url(../img/en/nqhicon_01.png);}
.commonposition a span{display:none; position:absolute; right:0px; top:0px; height:69px; padding-left:40px; padding-right: 10px; color:#fffaf6;line-height:69px; font-size:14px;background-color:#262626;}
.commonposition a span.dianhuabggray{background-image:url(../img/en/nqhicon_03.png);background-position: left center;background-repeat: no-repeat;width:124px;font-size: 18px;}
.commonposition a span.weixinerweima{right:69px; padding:0px; width:120px;}
.commonposition a span.weixinerweima img{display:block;width: 120px; height: 120px;}

.ser-result{margin-bottom: 35px;max-width: 1200px;margin: 0 auto;}
.ser-result table{border-collapse: collapse;border: 1px solid #e1e1e1;}
.ser-result table th{font-size: 18px;line-height: 30px;padding: 18px;text-align: center;background: #f9f9f9;}
.ser-result table td{padding: 18px;border: 1px solid #ddd;}
#liSearch:hover{border-bottom: 0;}

/*-------------------------MAIN CUSTOM------------------------------*/
.hiddenup{display:none}
.m-active{background: #ed2833;color: #fff;}
.support-dl ul li .main-down-type:hover, .support-dl ul li .main-down-type-temp:hover{background: rgb(253, 67, 79);color: #fff;cursor:pointer} 
a:hover{text-decoration: none !important;}
.btn-red-base{cursor:pointer;background: #ed2833 !important;color: #fffaf6 !important;border-radius:0 !important;font-size:14px;text-align:center;}
.btn-red-base:hover{color: #fffaf6 !important;background: rgb(253, 67, 79) !important;font-size:14px;text-align:center;}
.btn-red-base i{background: url(../img/arrow_02.png) no-repeat;height:12px;width:16px;float:left;margin-top:30%;margin-left: 30%;}
.btn-blue-base{background: #201c6f !important;color: #fffaf6 !important;border-radius:0 !important;font-size:14px;text-align:center;}
.blue-active{background:#ed2833 !important;}
.btn-blue-base:hover{color: #fffaf6 !important;background: #2f2a9d !important;text-align:center;}

.blue-active:hover{color: #fffaf6 !important;background: rgb(253, 67, 79) !important;text-align:center;}

/* .product-detail{height: 503px;} */
.product-detail>.img-product{width: 320px;height: 100%;margin-left: 150px;float: left;height: 503px;}
.product-detail>.txt-product{width: 50%;float: left;margin-left: 100px;/* margin-top: 60px; */}

.product-detail .txt-product .head-text{
    white-space: normal;
    font-family:'SFUEurostileCondensed' !important;
}
.product-detail .txt-product .content-text{
    white-space: normal;
    font-size:14px;
    font-family:'SFUEurostileRegular';
}
th{
    font-size:18px !important;
    font-weight:bold !important;
    font-family: 'SFUEurostileCondensed' !important;
}
td{
    font-size:14px !important;
    font-family: 'SFUEurostileRegular' !important;
}
.pd_table table th, .pd_table table td{
    border-bottom: 1px solid #201c6f !important;
    border-right: 1px solid #201c6f;
}
.pd_table table tbody tr td:first-child{
    border-right: 1px solid #201c6f !important;
}
.pd_table table thead th{
    border-top: 1px solid #201c6f !important;
}
.pd_table table thead th:last-child{
    border-right: none !important;
}
.pd_table table tbody tr td:last-child{
    border-right: none !important;
}
table thead th, table tbody tr th{
    font-family: 'SFUEurostileBold' !important;
}
.maintain{
    top: 100;
    position: relative;
}

.no-background{
    background: none !important;
}

.header_m .nav-btn{ border:1px solid #ed2833; float:right; padding:5px 7px; border-radius:3px; margin:18px 15px 0 0;}
.header_m .nav-btn .glyphicon{ color:#ed2833; font-size:16px;}
.header_m *{ color: #fffaf6}
.header_m .nav-btn{ display:none;}
.header_m div#btnSearch{display:none}
.header_m div#bg-smartphone{display:none}
.header_m .mainnav{ display:block;}
.header_m{ height:90px;/* overflow:hidden; */}

/* left-head */
.header_m .logo{ width:20%;height:100%;float:left;position:relative}
.header_m .logo img{ width:214px;height:72px;position:absolute;left:0;right:0;top:0;bottom:0;margin:auto;}

/* middle-head */
.header_m .mainnav{width:60%;float:left;background:#ed2833;height: 100%;top:0px;left:0;position: relative;}
.header_m .mainnav .ul{left: 0;top: 0;right: 0;bottom: 0;margin: auto;width: 98%;height: fit-content;padding: 5px;position: relative;text-align:center;display:table}
.header_m .mainnav .ul li{cursor: pointer;background: url(../img/en/nav_line.png) no-repeat right center;padding: 0 20px;display: inline-block;}
.header_m .mainnav .ul li a{color: #fffaf6;font-size: 16px;}
.header_m .mainnav .ul li a:hover,.header_m .mainnav .ul .onnav a{ border-bottom:2px solid #fffaf6;}
.header_m .mainnav .ul li#liSearch{background:none}
/* .header_m .mainnav .ul li#liSearch:hover{background:#201c6f;} */
.header_m .mainnav .ul li#liSearch span:hover,.header_m .mainnav .ul .onnav span{}

/* slide down */
.header_m .site_down{position:absolute;top:60px;right: 30px;display:none;}
.header_m .site_down a{cursor:pointer}
/* right-head */
.header_m .right-head *{color:#fffaf6;font-size:16px;}
.header_m .right-head{ width:20%;height:100%;float:left;background:#201c6f;overflow:hidden;position:relative;}
.right-head .header_site{height:20px; float: right;top: 0;bottom: 0;right: 0px;margin: auto;position: absolute;cursor: pointer;}
.right-head .ul{ margin: auto; float: left;left: 5px;top: 0;bottom: 0;position: absolute;width:70%;height: fit-content;}
.header_m .right-head ul li{float:right}
.right-head .ul i {display: inline-block;width: 18px;height: 18px;vertical-align: middle;background: url(../img/en/main/icon_01.png) no-repeat;}
.right-head .ul a span{display: inline-block;padding: 6px 0;   }
.right-head .ul a span:hover{border-bottom:1px solid #fffaf6}

/* drop */
.drop{overflow:hidden;position: relative; height:200px; /* min-height:150px; max-height:200px; height:auto; */ width: 100%;}
.n_drop{width: 100%; height:100%; /* position:absolute; *//* min-height: 176px; */ margin: 0 auto; overflow:hidden;}
.drop .tabname{height: 100%; float: left; width: 40%; /* margin-left: 17%; */ background:#201c6f;}
.drop .tabcont{position:relative;height: 100%; float: left; width: 30%;}
.drop .tabinf{position:relative;height: 100%; float: left; width: 20%;}

.drop .tabcont .menu-lvl3-container{height: 100%;/* width: 40%; */position:absolute;margin-top: 25px;}
.drop .tabcont .menu-lvl3-container .h-bar{height: 2px;width: 50px;background: #ed2833;float: left;}
.drop .tabcont .menu-lvl3-container a.mn-child{height: 30px;min-width: 200px;float:left;left:0;}
.drop .tabcont .menu-lvl3-container a.mn-child i{height: 2px;width: 50px;background: #ed2833;float: left;}
.drop .tabcont .menu-lvl3-container a.mn-child span{float:left;margin-top:-10px;margin-left: 5px;font-size:16px;color:#000;/* font-weight: bold; */}
.drop .tabcont .menu-lvl3-container a.mn-child span:hover{border-bottom:2px solid #201c6f;cursor:pointer;}
.drop .tabcont .menu-lvl3-container span.h-saparate{height: 32px;width:2px;background:#ed2833;position:absolute;float:left;left: 50px;}

.n_drop[data-name='1'] .ilist li{float: left; width: 90%;}
.drop .tabcont .ilist{ float:right;right:0;position:absolute;width:58%;/* padding-left:182px; */ height:200px;}
.drop .tabcont img{ position:relative;float:left; left:0;width:100px;height:160px;margin-top:20px;}
.drop .tabcont li{  overflow: hidden; text-overflow: ellipsis; white-space: nowrap;padding-right: 15px;}
.drop .tabcont li a{line-height: 24px;}
.drop .tab .tabname ul{margin-top: 7px;float: right; width: 30%;}
.drop .tab .tabname li{float: right; width: 100%; margin-bottom: 1px; padding: 10px; text-align: center;}
.drop .tabname li a{font-size: 16px; /* padding-left: 1em;  */color: #fffaf6; white-space: nowrap;/*  background: url(../img/en/ier2.png) no-repeat left center; */}
.drop .tabname li.on{background: #ed2833;}
.drop .tabname .on,
.drop .tabname .on a{/* color: #90c31f;  *//* background: #ed2833; */}
.drop .tabnamePro {width: 25% !important; margin-left: 7% !important;}
.drop .tabcont p{margin: 0;white-space: initial;}
.drop .tabnameJie{width: 18% !important; margin-left: 14% !important;}

.drop .n_drop .imgDiv{float: left;height: 100%;width: 20%;}
.drop .n_drop .imgDiv .contImg{height:100%;}

/* slider */
.homeban_mb{ display:none;}
.homeban_pc{ display:block;}
.homeban .bx-wrapper img{ width:100%;}
.homeban .bx-wrapper{ max-width:100% !important;}
.homeban .bx-wrapper{ margin:0 auto;}
.homeban .bx-wrapper .bx-pager.bx-default-pager a{ width:8px; height:8px; border:2px solid #ed2833;; border-radius:8px; background:none;}
.homeban .bx-wrapper .bx-pager.bx-default-pager a:hover,
.homeban .bx-wrapper .bx-pager.bx-default-pager a.active{ background:#ed2833;border-color:#ed2833;}
.homeban .bx-wrapper .bx-pager,
.homeban .bx-wrapper .bx-controls-auto{ bottom:10px;}
.homeban_pc .slide .slide_a{ display:block; height:380px;}

/* homeintro */
.homeintro{ margin-bottom:45px;}
.hi_banner img{ width:100%;height:100%}
.homeintro .hi_text .h1{ font-size:20px; color:#000; font-weight:normal;}
.hi_text h3, .hi_text h3 span, .hi_text h3, .hi_text h3 a{ font-size:20px; color:#201c6f; /* font-weight:normal; */}
.homeintro .hi_text .MsoNormal span{ font-size:14px; color:#000; font-weight:normal;}
.homeintro .hi_text .p{ color:#000000; text-indent:2em; margin-top:30px;}
.homeintro .hi_text .p1{ font-size:18px; color:#d7d7d7; text-indent:0; margin:0 0 30px;}
.homeintro .hi_text .more_a, .homeintro .hi_text_home .more_a{ display:block; width:135px; height:40px; line-height:40px; color:#fffaf6; text-align:center; background:#ed2833; border-radius:0px; margin-top:30px;}
.homeintro .hi_text .more_a:hover, .hi_text_home .more_a:hover{background:rgb(253, 67, 79)}
.homeintro .bx-controls-direction{ width:100px; height:60px; right:0; bottom:0; position:absolute;}
.homeintro .bx-wrapper .bx-prev{ bottom:0;left:0; background:url(../img/en//left.png) rgba(255, 255, 255, 0.7) no-repeat center center;}
.homeintro .bx-wrapper .bx-next{ bottom:0; right:0; background:url(../img/en/right.png) rgba(255, 255, 255, 0.7) no-repeat center center;}

.hi_banner_home{ margin-right:40px;/* max-width:30%; width:350px; min-height:400px;position:relative; height:405px; margin-left:40px; */ float:left;}
.hi_banner_home img{/* height:100%;width:100% */}
.hi_banner{width: 750px;min-height: 215px;margin: auto;left: 0;right: 0;float: none;}
.hi_banner>a{/* position:absolute;height:100%; */}
.hi_text_home{ /* display: contents; */width:55%; float:left; /* padding-left:40px; */margin-top:40px;}
.hi_text_home p, .txt-product p, .MsoNormal p{ text-align: justify;}
.hi_text{width: 90%;float: none;left: 0;right: 0;margin: auto;}
.hi_banner:hover{ opacity:0.5;}

/* hn_list */
.homenews{ padding-bottom:25px;}
.hn_list{ margin-top:40px;}
.hn_list .ul li{width: 32%;float:left;position: relative;min-height: 562px;}
.hn_list .ul li:nth-child(3n+2){left:1.9%}
.hn_list .ul li:nth-child(3n+3){float:right}

/* .hn_list .ul li .hn_more{ width:40px;height:40px;bottom:0;right:0;float:right;} */
.hn_list .ul li .hn_more, .right-container .hn_more{width:40px;height:40px;bottom:0;right:0; float: right;position: relative;}
.hn_list .ul .hn_img{ position:relative;height:300px;overflow:hidden}
.hn_img img{margin: auto;top: 0;bottom: 0;position: absolute;}
/* .hn_img img:hover{ opacity:0.5} */
/* .hn_img .hn_more{ width:40px;height:40px; background:url(../img/en/hn_more.png) #ed2833 no-repeat center center; position:absolute; bottom:0; right:0;display:none} */
.hn_list .ul .hn_time{ font-size:20px; margin-top:5px;}
.hn_list .ul .hn_time span{ font-size:20px; color:#000; padding-left:10px;}
.hn_list .ul .h3{line-height:25px; height:25px; margin:5px 0 5px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
h3, .h3, h3 *, .h3 *{ font-weight: bold !important;color:#201c6f; font-size:20px; }
.hn_list .ul .h3 a:hover{border-bottom:1px solid #000}
/* .hn_list .ul .p{font-size:14px; color:#000;overflow : hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 5;-webkit-box-orient: vertical;} */
.hn_list .ul .p{position: relative;display: table-cell;font-size:14px;color:#000;}
.sd3{ padding:60px 0 40px;}
.sd1 .ul li{ width:13.8%; margin:0 0 0 2.5%;}
.sd1 .ul li:first-child{ margin-left:0;}
/* .sd3 .ul li:first-child{float:left} */
.sd3 .ul li{float:left;width:49%;float:left;box-sizing: border-box;; margin-bottom:30px; border:1px solid #201c6f;padding-right:15px;}
.sd3 .ul li:nth-child(2n){margin-left:2%;margin-right:0;}
/* .sd3 .ul li:nth-child(3n-2){ margin-left:0;}
.sd3 .ul li:nth-child(3n+1){clear: both;} */
.sd3 .sd3_img{ width:40%;float:left;margin-left:5px;}
.product_body .sd3 .sd3_img{ width:auto;float:left;margin-left:5px;}
/* .sd3 .sd3_text{ width:54%; padding:5px 5px 10px;float:left;margin-top:30px;} */
.sd3 .sd3_text{margin-top:30px;}
.sd3 .sd3_text .h4{ margin-bottom:5px;}
/* .sd3 .sd3_text .sd3_more{ display:block; width:135px; height:40px; line-height:40px; color:#fffaf6; text-align:center; background:#201c6f; border-radius:0px; margin-top:30px;} */
.sd3 .sd3_text .sd3_more{line-height: 80px;color:#fffaf6;background:#201c6f;padding: 10px 30px;}
.sd3 .sd3_text .sd3_more:hover{background:#2f2a9d }
/* footer */
.footer{padding:18px 0 35px;position: absolute;width:100%;background: #201c6f url(../img/en/main/bottom_bg.png) bottom right no-repeat;height:276px;}
.footer>span.footer-text{position:absolute;color:#fffaf6;font-size:14px;text-align:right;right:10px;bottom:10px;;list-style:none}
.footer .bottom_nav{ display:block; margin-bottom:30px;}
.bottom_nav .ul{ display:table; text-align:center; margin:0 auto;}
.bottom_nav .ul li{ float:left; text-align:left; width:141px;letter-spacing:0.7px;margin-right:16px;}
.bottom_nav .ul li a{ font-size:14px; color:#fffaf6;}
.bottom_nav .ul li a:hover{ color:#ed2833}
.bottom_nav dl,.bottom_nav dd{ margin:0; padding:0;}
.bottom_nav .ul dt{ color:#fffaf6;height:30px;position:relative;padding-left:1px;font-weight:normal;font-size:16px; font-family:SFUEurostileCondensed/* text-align:center */}
.bottom_nav .ul dd{ height:20px; line-height:28px;font-family:SFUEurostileCondensed}

.header_m .hsearch_m{ position:absolute; top:90px; right:20%; background:#201c6f; width:230px; padding:10px 15px; display:none; z-index:999;}
.hsearch_m .hsearch_input{ background:#fffaf6; height:26px; border-radius:0px; padding:0 10px;color:#666460;}
.hsearch_m .hsearch_btn .glyphicon{ color:#fffaf6; padding:6px 10px; font-size:16px;}

.result_body .result_table table tbody tr td {border-right: 0px;}

.contact_body{ padding:28px 0 60px;position:relative;/* height:1000px; */overflow:hidden}
.contact_body .ul li{ padding:25px 20px; background:#f2f2f2; margin-bottom:35px;max-height:1000px}
.contact_body .ul .h3{ font-size:20px; color:#90c31f; font-weight:normal; margin-bottom:15px;}
.contact_body .ul dl,.contact_body .ul dd{ margin:0;}
.contact_body .ul dl{ margin-top:15px;}
.contact_body .ul dd{ color:#000000; margin-bottom:5px;}
.contact_body .content-txt .info .txt-h1-up{color:#201c6f;font-size:30px}
.contact_body .content-txt .info .txt-h1-low{color:#000;font-size:30px}
.contact_body .content-txt .info .txt-title{color:#201c6f;font-size:18px}
.contact_body .content-txt .info .txt-content{color:#000;font-size:18px}
.contact_body .m2{float:left; width:65%}

.download_body {min-height:200px;}

.menu2{ text-align:center;margin-top:40px;}
.menu2 span{padding: 0px 10px;margin-top:5px;display:inline-block;font-size: 20px;color:#fffaf6;cursor:pointer;background:#201c6f;height: 40px;width: 136px;line-height: 1.7;}
.menu2 .onnav{ background:#ed2833;}
.menu2 span:hover{background:rgb(253, 67, 79);}
/* .menu .saparate, .menu2 .saparate{height:2px;width:50%;background:#201c6f;display:inline-block;margin-top:2px;} */
.menu .saparate, .menu2 .saparate{height:2px;width:50%;background:#201c6f;display:inline-block;position: absolute;margin: auto;left: 0;right: 0;/* top: 0; *//* bottom: 1px; */}

.menu .m {width: 600px; border-bottom: 2px solid #201c6f;}

.menu div.item{margin-bottom: -2px}

/* .menu div.item, .menu2 div.item{display: inline-block;width: auto;padding: unset;margin-left: 15px;min-width:250px;width:auto;} */
.menu div.item, .menu2 div.item{display: inline-block;width: auto;padding: unset;/* margin-left: 15px; */min-width: 150px;width:auto;}
.menu div.item:hover, .menu2 div.item:hover{border-bottom: 2px solid #2f2a9d;}

.menu div.active:hover, .menu2 div.active:hover{border-bottom: 2px solid rgb(253, 67, 79);}

.menu div.active, .menu2 div.active{border-bottom: 2px solid #ed2833;}
/* .menu div.item{height: 60px;width: 150px;margin: auto;left: 0;right: 0;display: inline;} */

.support-dl{margin-top:40px}
.support-dl ul{margin: auto;width: 70%;border-bottom:2px solid #201c6f;margin-top:10px/* min-height: 40px; */}
.support-dl ul li{display: inline-block; padding-bottom: 10px;/* padding:5px 10px;margin: 0 10px */}
.support-dl ul li:first-child{border-right:2px solid #201c6f;min-width:200px}
.support-dl ul li:first-child a{font-size:18px;color:#201c6f;font-weight:bold}

.support-dl ul li a{padding:5px;margin:10px;}

/* .support-dl ul li:nth-child(2) a, .support-dl ul li:nth-child(3) a{background:#ed2833;color:#fff} */

.blog_body{min-height:1200px}

.MsoNormal span, .hn_list .ul .p, .sd3 .sd3_text .p, .hi_text_home p, .txt-product p, .MsoNormal p{font-size:16px !important}

.hi_text_home p.p_li, .txt-product .p_li{/* margin-left:20px; */margin-top: 0;}

.about_body p.MsoNormal span p{margin-left:5px}

.news_body{ padding:30px 10px;}
.news_body .news_img img{ width:100%;}
.news_body .news_text{ padding:15px;}
.news_body .news_text .h3{overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.news_body .news_text .h3 a{ font-size:16px; color:#3b3b3b; font-weight:normal;}
.news_body .news_text .h3 a:hover{ color:#90c31f;}
.news_body .news_time{ margin:5px 0 10px;}
.news_body .news_detail .p{ font-size:12px; color:#666; line-height:22px;height:66px;overflow : hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 3;-webkit-box-orient: vertical;}
.news_body .news_detail .news_more{ font-size:12px; color:#90c31f;}
.news_body .news_detail .news_more:hover{ text-decoration:underline;}

.news_body .hn_list{margin-top:0}

.pd_table{ padding-bottom:50px;margin-top:40px;}
.pd_table table{ width:100%; margin-bottom:30px;}
.pd_table table td{ text-align:center; min-width:40px; /* padding:30px 0; */ /* border:1px solid #ededed; */}
.pd_table table .td1{ text-align:left; padding:0 60px;color:#000}
.pd_table table .td2,.pd_table table .td3{ color:#000;}
.pd_table table thead{ background:#transparent;}
.pd_table table thead th{ padding:15px 0; color:#ed2833 !important; font-weight:normal;}
.pd_table .td4 .download{ padding:15px 15px;display:inline-block; background: #ed2833 url(../img/arrow_03.png) center no-repeat;}
.pd_table .td4 .download:hover{background-color:rgb(253, 67, 79)}
.pd_table .td4 a{ display:block; color:#90c31f;}
.pd_table table  a:hover{ color:#90c31f;}
/* .pd_table .td4  a:hover .download{background:url(../img/arrow_down.png) no-repeat;} */
.pd_table table .td2,.pd_table table .td3,.pd_table table .td4{ width:18%;}

.download_body{ padding:30px 10px;}
.download_body .db1{ border:1px solid #ededed; background:#f7f7f7; position:relative;}
.download_body .db1:first-child{ border-bottom:none;}
.download_body .pd_table .m2{width:70%}

.img-list{margin-top: 40px;}
.img-list .ul li{width: 33%;float: left;position: relative;}
.img-list .ul li p{float: left;width: 90%;margin-left: 5%;}
.img-list img{float: none;margin: 0;left: 0;right: 0;margin-left: 5%; width:90%}

.news-detail .hi_banner {margin-top:20px; margin-bottom:30px}

.mapouter{text-align:right;border: 2px solid #201c6f;height:540px; margin-top: 40px;}
.gmap_canvas {overflow:hidden;background:none !important;width:100%;height:100%}

.pages{ width:100%; padding:20px 0; text-align:center;}
.pages .p_page a{position: relative;display:inline-block;border:1px solid #e9e9e9;font-style: normal;color:#999;margin-bottom:15px;height: 40px;width: 40px;background: #201c6f;line-height: 2.5;margin-left: 10px;color: #fff;}
.pages .p_page .current,.pages .p_page a:hover{ color:#fffaf6; background:#90c31f;}
.pages .p_page .a_cur,.pages .p_page a:hover{color:#fffaf6;background: #2f2a9d;}
.pages .p_page a i{position: absolute;height: 12px;width: 16px;margin: auto;background: url(../img/arrow_02.png) no-repeat;top: 0;bottom: 0;left: 0;right: 0}
.pages .p_page .a_next, .pages .p_page .a_prev{color: #201c6f;}
.pages .p_page .a_next:hover, .pages .p_page .a_prev:hover{color: #201c6f;}
.pages .p_page .a_prev{-webkit-transform: rotate(180deg);-moz-transform: rotate(180deg);-o-transform: rotate(180deg);-ms-transform: rotate(180deg);transform: rotate(180deg);}

.download_body .pd_table table tr td:nth-child(2){text-align:left;padding-left: 10px;}
.container_new{width:100%;max-width:1280px;margin:0 auto;box-sizing: border-box;}
.container_new:after{content:"";display:block;clear:both;}
.container_header{max-width:1290px;width:100%;margin:0 auto;}
#horizonBar .container_new #btn-login{margin-right:0;}
.bottom_nav .ul dt:after{content:"";height:2px;width:97px;background:#fffaf6;position:absolute;bottom:-2px;left:0;}
.header:after{content:"";width:50%;height:90px;position:absolute;right:0;top:0;background:#201c6f;z-index:-1;}
.header{position:relative;}
.mar-bot-20{margin-bottom:20px!important;}
.news-detail a[href]{
    color:#201c6f;
    font-weight:bold;
}
.news-detail a[href]:hover{
    color:#ed2833;
}
.right-head .header_site:before{
    content:"";
    position:absolute;
    width:2px;
    height:20px;
    left:-2px;
    top:2px;
    background:red;
}
.right-head .header_site{right: 10px;padding-left: 7px;}
.visible-xs{display:none;}
.user-account .above-infor{margin-bottom:15px;}
.tableft40{padding-left:40px;}
p.no-margin-block-tb{margin-block-start: 0;margin-block-end: 0;}

.container_new .hi_banner{width:auto;height:auto;min-height:auto}

.error_message{color:red;font-style:italic;}
/* .color-theme-default {background-color: #ed2833 !important;} */

/* Hiển thị cho thiết bị máy tính desktop thường */
@media (min-width: 2025px) {

}

@media(max-width:1399px){
    .container_new{padding:0 20px;}
}

/* Hiển thị cho thiết bị máy tính bảng lớn ngang */
@media (max-width: 1024px) {
    .product-detail>.img-product img{width: 300px;height: 502px;margin: auto;left: 0;right: 0;position: absolute;}
    .product-detail>.txt-product{width: 94%;margin-left: 3%;float: left;}

    .hn_list .ul li{width: 32%;float:left;position: relative;min-height: 662px;}

    .contact_body .container_new{padding:0 20px;}
}

/* Hiển thị cho thiết bị máy tính bảng ngang */
@media (max-width: 800px) {

}

/* Hiển thị cho thiết bị máy tính bảng lớn dọc */
@media (max-width: 768px) {
    .visible-xs{display:block;}
    html, body{overflow-x:hidden}
    .header_m{min-height: 130px;position:relative}
    .header_m .nav-btn{display:block;position: absolute;right: 50px;margin: auto;top: 0;bottom: 0;height: fit-content;background:#fff}
    .header_m .nav-btn span{color: #ed2833}
    .header_m .mainnav{ display:none;width:100%;position:absolute;top:130px;z-index: 9999;height:auto}
    .header_m .mainnav .ul{ margin:0 auto;display:table;margin-top:0 !important}
    .header_m .mainnav .ul li{float:left;padding: unset;width: 100%;height: 40px;border-bottom: 1px solid #fff;background: unset;}
    .header_m .mainnav .ul li:last-child{display:none}
    .header_m .mainnav .ul li:nth-child(7){border-bottom:none}
    .header_m .mainnav .ul li a{color: #fffaf6;font-size: 16px;margin: auto;top: 0;bottom: 0;line-height: 2.4;}
    .header_m .logo{width: 30%;height:90px}
    .header_m .logo img{width: 100px;height: 34px;}
    .header_m .right-head{ width:100%;height:40px;overflow:unset}

    .header_m .hsearch_m{top:131px;right:0px;width:260px;padding: 10px}

    .header_m div#bg-smartphone span.glyphicon-search{position: absolute;float: right;right: 20px;margin: auto;top: 0;bottom: 0;height: 10px;}
    .header_m div#bg-smartphone{display:block;height: 90px;width: 70%;position: absolute;background: #ed2833;float: right;right: 0;}

    .right-head .header_site{width: unset;float: right;right: 10px;position: absolute;margin: auto;left: unset;top: 0;bottom: 0;}
    .right-head .ul{float: right;width: unset;left: unset;right: 70px;top: 1px;bottom: 0;}

    .hi_banner, .hi_banner_home{min-height:276px;margin: auto;max-width: unset;float: unset;}
    .hi_text, .hi_text_home{ float: unset; padding: unset; width: 100%; margin: auto;margin-top:40px;}
    .hi_text_home{display:block}

    .hn_list .ul li:first-child{ margin-top: 0px;}
    .hn_list .ul li{ width: 100%;margin: auto;float: none;margin-top: 40px;}

    .home_h .home_hmore, .timeline-event-content .home_hmore{text-align:center;position:relative;margin-right: 10px;margin-top: 10px;line-height:2.5;display:block; /* width: 120px; height: 40px;*/float:right;}

    .sd3 .ul li{ width: 100%;float: none;overflow:hidden;}
    .sd3 .ul li:nth-child(2n){margin-left:0;}
    /* .sd3 .sd3_text{ margin-bottom:10%;} */

    .contact_body .container{width:94% !important;position:relative !important;float: left;left: 20%;max-width: 60%;top: 40px;min-height:130px}
    .contact_body .m2{width:98% !important;position:relative !important}
    .contact_body .m2 .content-txt .mapouter{width:94% !important;margin: auto;}

    .product-detail>.img-product{}

    .product-detail{height:auto}
    .product-detail>.img-product{/* width: 100%; */margin: auto;left: 0;right: 0;display: block;clear: both;}
    .product-detail>.txt-product{width: 90%;float: none;margin: auto;left: 0;right: 0;display: block;}

    .header_m .site_down{ left: unset;top: 40px;right: 10px;background: #201c6f;padding: 2px;z-index: 9999;padding:10px}

    .footer .bottom_nav{display:none}
    .footer{height:95px;background:url(../img/en/main/bottom_bg.png) bottom right no-repeat}
    .footer>span.footer-text{right:2px;bottom:10px}

    .gotop{bottom: 76px;right: 3%;}

    .sd3 .ul li:first-child{float:none}

    .content-txt .info{width: 94%;margin: auto;margin-bottom: 40px;}
    .menu2 .saparate, .menu .saparate{width:100%}

    .sd2 .sd2_img img,.sd3 .sd3_img img{max-width:150px}

    .pd_table table .td1{ padding:0px;}

    /* .contact_body .container{padding-left:0px;padding-right:0px;} */
    /* .content-txt{padding:unset} */

    .menu a, .menu2 a{padding:0 2px;}
    .menu div.item, .menu2 div.item{padding:unset;margin-left: 1px;}
    .menu .m {width:unset}
    .sd3 .sd3_text{ margin-top:10px;}

    .hn_list .ul li{min-height: unset}
    .hn_list .ul li:nth-child(3n+2){left:unset}
    .hn_list .ul li:nth-child(3n+3){float:unset}

    .about_body{padding:unset}

    .news_body{padding:30px 10px;padding-left: unset;padding-right: unset;}

    .contact_body{padding:unset;padding-top: 40px}

    /* .hi_banner{min-height:276px;} */

    .news_news_1, .news_news_2, news_news_3, news_news_4{min-height:600px}

    /* .support-dl ul{margin-top:10px} */
    .support-dl ul li{padding-bottom: 10px;}
    .support-dl ul li:first-child{min-width: 140px;}

    .download_body .pd_table .m2{width:94%} 
    .support-dl ul{width:94%}

    .product-detail>.img-product img{position: relative;}

    .hn_list .ul .hn_img{ position:relative;height:550px;}
    .timeline-wrapper{width:100%;}
}

@media (min-width: 768px) {

}

/* Hiển thị cho thiết bị máy tính bảng dọc */
@media (max-width: 600px) {

}

/* Hiển thị cho thiết bị điện thoại di động ngang */
@media (max-width: 480px) {
    .product_body .sd3 .sd3_text{margin-top: 20px;width: 50%;float: left;}
    .product_body .sd3 .sd3_img{margin-top: 20%;}
    .product-detail>.img-product{width:100%}
    .product-detail>.img-product img{position: absolute;}
    .hn_list .ul .hn_img{height: 300px;}
    .contact_body .container{left: 5%;right: unset;max-width: 90%;min-height: 1100px;}
    .footer>span.footer-text{right: 10px;font-size: 12px;}

    .img-list .ul li{width: 94%;margin-left:3%}
    .img-list .ul li p{float: left;width: 90%;margin-left: 5%;}
    .img-list img{float: none;margin: 0;left: 0;right: 0;margin-left: 5%;}
    .horizonBar .container_new > i{
        margin-left:0!important;
    }
    .horizonBar a i{
        margin-left:5!important;
    }

}

@media (max-width: 360px) {
    .horizonBar .home_hmore{
        width:120px;
        margin-right:0;
    }
}

/* Hiển thị cho thiết bị điện thoại di động dọc */
@media (max-width: 320px) {
    .product_body .sd3 .sd3_text{margin-left: 4%;width: 95%;}
    .product_body .sd3 .sd3_img{margin-left: 4%;width: 95%; margin-top: 0;}
    .product_body .sd3 .sd3_img img{float: left; margin-left: 20%;}
    .hn_list .ul .hn_img{height: 200px;}
    .img-list img{margin-left:unset}
    .img-list .ul li p{margin-left:3%;}
}

