
/* PERMISSION */
body.user-permission {
	width: 1893px;
}

.w316 {
  width: 316px;
}

.w1577 {
  width: 1577px;
}

.form-inline .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
}
.form-inline .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
}

.table-permission td {
  padding: 0 3px;
  vertical-align: top;
}

div.dataTables_wrapper div.dataTables_paginate {
    text-align: left !important;
}
/* -- PERMISSION */


body {
  margin: 5px;
}

.hide_me{
  display: none;
}

section {
  margin-top: 10px;
}

table.has-spacing {
  margin-top: -10px;
}
table.has-spacing td {
  padding: 10px 5px 0 0;
}

fieldset.user-permission {
  border: 1px groove #ddd !important;
  padding: 0 1.4em 1.4em 1.4em !important;
  margin: 0 0 1.5em 0 !important;
  -webkit-box-shadow:  0px 0px 0px 0px #000;
          box-shadow:  0px 0px 0px 0px #000;
}
fieldset.user-permission legend {
  width:inherit; /* Or auto */
  padding:0; /* To give a bit of padding on the left and right */
  border-bottom:none;
  position: relative;
}
fieldset.user-permission legend div.permission-tools {
  position: absolute;
  left: 150px;
  top: 0;
  white-space: nowrap;
}
fieldset.user-permission ul {
  margin-top: 5px;
  margin-bottom: 5px;
}
fieldset.user-permission li {
  min-width: 45px;
  text-align: center;
  padding: 0;
}
fieldset.user-permission > div > div > div {
  margin-top: 5px;
}

fieldset.menu-setup li {
  padding-left: 5px;
  padding-right: 10px;
}

div.dt-bottom div {
  float: left;
}

.paging_full_numbers {
  float: left;
}
#sort_code_list_filter{
    display: none;
}
#user_list_filter{
    display: none;
}
