@charset "utf-8";

/* glyphicon.css */
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.glyphicon-asterisk:before {
  content: "\002a";
}
.glyphicon-plus:before {
  content: "\002b";
}
.glyphicon-euro:before,
.glyphicon-eur:before {
  content: "\20ac";
}
.glyphicon-minus:before {
  content: "\2212";
}
.glyphicon-cloud:before {
  content: "\2601";
}
.glyphicon-envelope:before {
  content: "\2709";
}
.glyphicon-pencil:before {
  content: "\270f";
}
.glyphicon-glass:before {
  content: "\e001";
}
.glyphicon-music:before {
  content: "\e002";
}
.glyphicon-search:before {
  content: "\e003";
}
.glyphicon-heart:before {
  content: "\e005";
}
.glyphicon-star:before {
  content: "\e006";
}
.glyphicon-star-empty:before {
  content: "\e007";
}
.glyphicon-user:before {
  content: "\e008";
}
.glyphicon-film:before {
  content: "\e009";
}
.glyphicon-th-large:before {
  content: "\e010";
}
.glyphicon-th:before {
  content: "\e011";
}
.glyphicon-th-list:before {
  content: "\e012";
}
.glyphicon-ok:before {
  content: "\e013";
}
.glyphicon-remove:before {
  content: "\e014";
}
.glyphicon-zoom-in:before {
  content: "\e015";
}
.glyphicon-zoom-out:before {
  content: "\e016";
}
.glyphicon-off:before {
  content: "\e017";
}
.glyphicon-signal:before {
  content: "\e018";
}
.glyphicon-cog:before {
  content: "\e019";
}
.glyphicon-trash:before {
  content: "\e020";
}
.glyphicon-home:before {
  content: "\e021";
}
.glyphicon-file:before {
  content: "\e022";
}
.glyphicon-time:before {
  content: "\e023";
}
.glyphicon-road:before {
  content: "\e024";
}
.glyphicon-download-alt:before {
  content: "\e025";
}
.glyphicon-download:before {
  content: "\e026";
}
.glyphicon-upload:before {
  content: "\e027";
}
.glyphicon-inbox:before {
  content: "\e028";
}
.glyphicon-play-circle:before {
  content: "\e029";
}
.glyphicon-repeat:before {
  content: "\e030";
}
.glyphicon-refresh:before {
  content: "\e031";
}
.glyphicon-list-alt:before {
  content: "\e032";
}
.glyphicon-lock:before {
  content: "\e033";
}
.glyphicon-flag:before {
  content: "\e034";
}
.glyphicon-headphones:before {
  content: "\e035";
}
.glyphicon-volume-off:before {
  content: "\e036";
}
.glyphicon-volume-down:before {
  content: "\e037";
}
.glyphicon-volume-up:before {
  content: "\e038";
}
.glyphicon-qrcode:before {
  content: "\e039";
}
.glyphicon-barcode:before {
  content: "\e040";
}
.glyphicon-tag:before {
  content: "\e041";
}
.glyphicon-tags:before {
  content: "\e042";
}
.glyphicon-book:before {
  content: "\e043";
}
.glyphicon-bookmark:before {
  content: "\e044";
}
.glyphicon-print:before {
  content: "\e045";
}
.glyphicon-camera:before {
  content: "\e046";
}
.glyphicon-font:before {
  content: "\e047";
}
.glyphicon-bold:before {
  content: "\e048";
}
.glyphicon-italic:before {
  content: "\e049";
}
.glyphicon-text-height:before {
  content: "\e050";
}
.glyphicon-text-width:before {
  content: "\e051";
}
.glyphicon-align-left:before {
  content: "\e052";
}
.glyphicon-align-center:before {
  content: "\e053";
}
.glyphicon-align-right:before {
  content: "\e054";
}
.glyphicon-align-justify:before {
  content: "\e055";
}
.glyphicon-list:before {
  content: "\e056";
}
.glyphicon-indent-left:before {
  content: "\e057";
}
.glyphicon-indent-right:before {
  content: "\e058";
}
.glyphicon-facetime-video:before {
  content: "\e059";
}
.glyphicon-picture:before {
  content: "\e060";
}
.glyphicon-map-marker:before {
  content: "\e062";
}
.glyphicon-adjust:before {
  content: "\e063";
}
.glyphicon-tint:before {
  content: "\e064";
}
.glyphicon-edit:before {
  content: "\e065";
}
.glyphicon-share:before {
  content: "\e066";
}
.glyphicon-check:before {
  content: "\e067";
}
.glyphicon-move:before {
  content: "\e068";
}
.glyphicon-step-backward:before {
  content: "\e069";
}
.glyphicon-fast-backward:before {
  content: "\e070";
}
.glyphicon-backward:before {
  content: "\e071";
}
.glyphicon-play:before {
  content: "\e072";
}
.glyphicon-pause:before {
  content: "\e073";
}
.glyphicon-stop:before {
  content: "\e074";
}
.glyphicon-forward:before {
  content: "\e075";
}
.glyphicon-fast-forward:before {
  content: "\e076";
}
.glyphicon-step-forward:before {
  content: "\e077";
}
.glyphicon-eject:before {
  content: "\e078";
}
.glyphicon-chevron-left:before {
  content: "\e079";
}
.glyphicon-chevron-right:before {
  content: "\e080";
}
.glyphicon-plus-sign:before {
  content: "\e081";
}
.glyphicon-minus-sign:before {
  content: "\e082";
}
.glyphicon-remove-sign:before {
  content: "\e083";
}
.glyphicon-ok-sign:before {
  content: "\e084";
}
.glyphicon-question-sign:before {
  content: "\e085";
}
.glyphicon-info-sign:before {
  content: "\e086";
}
.glyphicon-screenshot:before {
  content: "\e087";
}
.glyphicon-remove-circle:before {
  content: "\e088";
}
.glyphicon-ok-circle:before {
  content: "\e089";
}
.glyphicon-ban-circle:before {
  content: "\e090";
}
.glyphicon-arrow-left:before {
  content: "\e091";
}
.glyphicon-arrow-right:before {
  content: "\e092";
}
.glyphicon-arrow-up:before {
  content: "\e093";
}
.glyphicon-arrow-down:before {
  content: "\e094";
}
.glyphicon-share-alt:before {
  content: "\e095";
}
.glyphicon-resize-full:before {
  content: "\e096";
}
.glyphicon-resize-small:before {
  content: "\e097";
}
.glyphicon-exclamation-sign:before {
  content: "\e101";
}
.glyphicon-gift:before {
  content: "\e102";
}
.glyphicon-leaf:before {
  content: "\e103";
}
.glyphicon-fire:before {
  content: "\e104";
}
.glyphicon-eye-open:before {
  content: "\e105";
}
.glyphicon-eye-close:before {
  content: "\e106";
}
.glyphicon-warning-sign:before {
  content: "\e107";
}
.glyphicon-plane:before {
  content: "\e108";
}
.glyphicon-calendar:before {
  content: "\e109";
}
.glyphicon-random:before {
  content: "\e110";
}
.glyphicon-comment:before {
  content: "\e111";
}
.glyphicon-magnet:before {
  content: "\e112";
}
.glyphicon-chevron-up:before {
  content: "\e113";
}
.glyphicon-chevron-down:before {
  content: "\e114";
}
.glyphicon-retweet:before {
  content: "\e115";
}
.glyphicon-shopping-cart:before {
  content: "\e116";
}
.glyphicon-folder-close:before {
  content: "\e117";
}
.glyphicon-folder-open:before {
  content: "\e118";
}
.glyphicon-resize-vertical:before {
  content: "\e119";
}
.glyphicon-resize-horizontal:before {
  content: "\e120";
}
.glyphicon-hdd:before {
  content: "\e121";
}
.glyphicon-bullhorn:before {
  content: "\e122";
}
.glyphicon-bell:before {
  content: "\e123";
}
.glyphicon-certificate:before {
  content: "\e124";
}
.glyphicon-thumbs-up:before {
  content: "\e125";
}
.glyphicon-thumbs-down:before {
  content: "\e126";
}
.glyphicon-hand-right:before {
  content: "\e127";
}
.glyphicon-hand-left:before {
  content: "\e128";
}
.glyphicon-hand-up:before {
  content: "\e129";
}
.glyphicon-hand-down:before {
  content: "\e130";
}
.glyphicon-circle-arrow-right:before {
  content: "\e131";
}
.glyphicon-circle-arrow-left:before {
  content: "\e132";
}
.glyphicon-circle-arrow-up:before {
  content: "\e133";
}
.glyphicon-circle-arrow-down:before {
  content: "\e134";
}
.glyphicon-globe:before {
  content: "\e135";
}
.glyphicon-wrench:before {
  content: "\e136";
}
.glyphicon-tasks:before {
  content: "\e137";
}
.glyphicon-filter:before {
  content: "\e138";
}
.glyphicon-briefcase:before {
  content: "\e139";
}
.glyphicon-fullscreen:before {
  content: "\e140";
}
.glyphicon-dashboard:before {
  content: "\e141";
}
.glyphicon-paperclip:before {
  content: "\e142";
}
.glyphicon-heart-empty:before {
  content: "\e143";
}
.glyphicon-link:before {
  content: "\e144";
}
.glyphicon-phone:before {
  content: "\e145";
}
.glyphicon-pushpin:before {
  content: "\e146";
}
.glyphicon-usd:before {
  content: "\e148";
}
.glyphicon-gbp:before {
  content: "\e149";
}
.glyphicon-sort:before {
  content: "\e150";
}
.glyphicon-sort-by-alphabet:before {
  content: "\e151";
}
.glyphicon-sort-by-alphabet-alt:before {
  content: "\e152";
}
.glyphicon-sort-by-order:before {
  content: "\e153";
}
.glyphicon-sort-by-order-alt:before {
  content: "\e154";
}
.glyphicon-sort-by-attributes:before {
  content: "\e155";
}
.glyphicon-sort-by-attributes-alt:before {
  content: "\e156";
}
.glyphicon-unchecked:before {
  content: "\e157";
}
.glyphicon-expand:before {
  content: "\e158";
}
.glyphicon-collapse-down:before {
  content: "\e159";
}
.glyphicon-collapse-up:before {
  content: "\e160";
}
.glyphicon-log-in:before {
  content: "\e161";
}
.glyphicon-flash:before {
  content: "\e162";
}
.glyphicon-log-out:before {
  content: "\e163";
}
.glyphicon-new-window:before {
  content: "\e164";
}
.glyphicon-record:before {
  content: "\e165";
}
.glyphicon-save:before {
  content: "\e166";
}
.glyphicon-open:before {
  content: "\e167";
}
.glyphicon-saved:before {
  content: "\e168";
}
.glyphicon-import:before {
  content: "\e169";
}
.glyphicon-export:before {
  content: "\e170";
}
.glyphicon-send:before {
  content: "\e171";
}
.glyphicon-floppy-disk:before {
  content: "\e172";
}
.glyphicon-floppy-saved:before {
  content: "\e173";
}
.glyphicon-floppy-remove:before {
  content: "\e174";
}
.glyphicon-floppy-save:before {
  content: "\e175";
}
.glyphicon-floppy-open:before {
  content: "\e176";
}
.glyphicon-credit-card:before {
  content: "\e177";
}
.glyphicon-transfer:before {
  content: "\e178";
}
.glyphicon-cutlery:before {
  content: "\e179";
}
.glyphicon-header:before {
  content: "\e180";
}
.glyphicon-compressed:before {
  content: "\e181";
}
.glyphicon-earphone:before {
  content: "\e182";
}
.glyphicon-phone-alt:before {
  content: "\e183";
}
.glyphicon-tower:before {
  content: "\e184";
}
.glyphicon-stats:before {
  content: "\e185";
}
.glyphicon-sd-video:before {
  content: "\e186";
}
.glyphicon-hd-video:before {
  content: "\e187";
}
.glyphicon-subtitles:before {
  content: "\e188";
}
.glyphicon-sound-stereo:before {
  content: "\e189";
}
.glyphicon-sound-dolby:before {
  content: "\e190";
}
.glyphicon-sound-5-1:before {
  content: "\e191";
}
.glyphicon-sound-6-1:before {
  content: "\e192";
}
.glyphicon-sound-7-1:before {
  content: "\e193";
}
.glyphicon-copyright-mark:before {
  content: "\e194";
}
.glyphicon-registration-mark:before {
  content: "\e195";
}
.glyphicon-cloud-download:before {
  content: "\e197";
}
.glyphicon-cloud-upload:before {
  content: "\e198";
}
.glyphicon-tree-conifer:before {
  content: "\e199";
}
.glyphicon-tree-deciduous:before {
  content: "\e200";
}
.glyphicon-cd:before {
  content: "\e201";
}
.glyphicon-save-file:before {
  content: "\e202";
}
.glyphicon-open-file:before {
  content: "\e203";
}
.glyphicon-level-up:before {
  content: "\e204";
}
.glyphicon-copy:before {
  content: "\e205";
}
.glyphicon-paste:before {
  content: "\e206";
}
.glyphicon-alert:before {
  content: "\e209";
}
.glyphicon-equalizer:before {
  content: "\e210";
}
.glyphicon-king:before {
  content: "\e211";
}
.glyphicon-queen:before {
  content: "\e212";
}
.glyphicon-pawn:before {
  content: "\e213";
}
.glyphicon-bishop:before {
  content: "\e214";
}
.glyphicon-knight:before {
  content: "\e215";
}
.glyphicon-baby-formula:before {
  content: "\e216";
}
.glyphicon-tent:before {
  content: "\26fa";
}
.glyphicon-blackboard:before {
  content: "\e218";
}
.glyphicon-bed:before {
  content: "\e219";
}
.glyphicon-apple:before {
  content: "\f8ff";
}
.glyphicon-erase:before {
  content: "\e221";
}
.glyphicon-hourglass:before {
  content: "\231b";
}
.glyphicon-lamp:before {
  content: "\e223";
}
.glyphicon-duplicate:before {
  content: "\e224";
}
.glyphicon-piggy-bank:before {
  content: "\e225";
}
.glyphicon-scissors:before {
  content: "\e226";
}
.glyphicon-bitcoin:before {
  content: "\e227";
}
.glyphicon-btc:before {
  content: "\e227";
}
.glyphicon-xbt:before {
  content: "\e227";
}
.glyphicon-yen:before {
  content: "\00a5";
}
.glyphicon-jpy:before {
  content: "\00a5";
}
.glyphicon-ruble:before {
  content: "\20bd";
}
.glyphicon-rub:before {
  content: "\20bd";
}
.glyphicon-scale:before {
  content: "\e230";
}
.glyphicon-ice-lolly:before {
  content: "\e231";
}
.glyphicon-ice-lolly-tasted:before {
  content: "\e232";
}
.glyphicon-education:before {
  content: "\e233";
}
.glyphicon-option-horizontal:before {
  content: "\e234";
}
.glyphicon-option-vertical:before {
  content: "\e235";
}
.glyphicon-menu-hamburger:before {
  content: "\e236";
}
.glyphicon-modal-window:before {
  content: "\e237";
}
.glyphicon-oil:before {
  content: "\e238";
}
.glyphicon-grain:before {
  content: "\e239";
}
.glyphicon-sunglasses:before {
  content: "\e240";
}
.glyphicon-text-size:before {
  content: "\e241";
}
.glyphicon-text-color:before {
  content: "\e242";
}
.glyphicon-text-background:before {
  content: "\e243";
}
.glyphicon-object-align-top:before {
  content: "\e244";
}
.glyphicon-object-align-bottom:before {
  content: "\e245";
}
.glyphicon-object-align-horizontal:before {
  content: "\e246";
}
.glyphicon-object-align-left:before {
  content: "\e247";
}
.glyphicon-object-align-vertical:before {
  content: "\e248";
}
.glyphicon-object-align-right:before {
  content: "\e249";
}
.glyphicon-triangle-right:before {
  content: "\e250";
}
.glyphicon-triangle-left:before {
  content: "\e251";
}
.glyphicon-triangle-bottom:before {
  content: "\e252";
}
.glyphicon-triangle-top:before {
  content: "\e253";
}
.glyphicon-console:before {
  content: "\e254";
}
.glyphicon-superscript:before {
  content: "\e255";
}
.glyphicon-subscript:before {
  content: "\e256";
}
.glyphicon-menu-left:before {
  content: "\e257";
}
.glyphicon-menu-right:before {
  content: "\e258";
}
.glyphicon-menu-down:before {
  content: "\e259";
}
.glyphicon-menu-up:before {
  content: "\e260";
}

/* reponsive.css */
@font-face{
    font-family: SFUEurostileCondensed;
    src: url(../fonts/main/SFUEurostileCondensed.TTF);
    font-weight: 400;
}
@font-face{
    font-family: SFUEurostileRegular;
    src: url(../fonts/main/SFUEurostileRegular.TTF);
    font-weight: 400;
}
@font-face{
    font-family: SFUEurostileBold;
    src: url(../fonts/main/SFUEurostileBold.TTF);
}
@font-face{
    font-family: SFUEurostileBoldCondensed;
    src: url(../fonts/main/SFUEurostileBoldCondensed.TTF);
}
@font-face{
    font-family: SFUEurostileBoldExtendedTwo_;
    src: url(../fonts/main/SFUEurostileBoldExtendedTwo_.TTF);
}
@font-face{
    font-family: SFUEurostileBoldOblique;
    src: url(../fonts/main/SFUEurostileBoldOblique.TTF);
}
@font-face{
    font-family: SFUEurostileDemi;
    src: url(../fonts/main/SFUEurostileDemi.TTF);
}
@font-face{
    font-family: SFUEurostileDemiOblique;
    src: url(../fonts/main/SFUEurostileDemiOblique.TTF);
}
@font-face{
    font-family: SFUEurostileExtendedTwo;
    src: url(../fonts/main/SFUEurostileExtendedTwo.TTF);
}
@font-face{
    font-family: SFUEurostileOblique;
    src: url(../fonts/main/SFUEurostileOblique.TTF);
}

body{ position: relative;padding:0; margin:0 auto !important; font-size: 16px; line-height: 1.42857143; font-family:'SFUEurostileRegular' !important; color: #000000; min-width: 320px; zoom:1;
	-webkit-text-size-adjust:none;
	-webkit-tap-highlight-color:rgba(0,0,0,0); 
	-webkit-tap-highlight:rgba(0,0,0,0);
	-webkit-font-smoothing: antialiased;
}
.h2, .h2, .h3, h1, h2, h3{font-weight:normal !important;color:#000;font-family:'SFUEurostileCondensed' !important}
.h1, h1, .h1 a, h1 a, .h1 span, h1 span, .h1 p, h1 p, .h1 a, h1 a{font-size:28px !important;}
.h2, h2, .h2 a, h2 a, .h2 span, h2 span, .h2 p, h2 p, .h2 a, h2 a{font-size:24px !important;}
.h3, h3, .h3 a, h3 a, .h3 span, h3 span, .h3 p, h3 p, .h3 a, h3 a{font-size:20px !important;}
.p,.h1,.h2,.h3,.h4,.h5,.h6{ margin: 0; padding: 0;}
.ul,.ul li{ list-style:none; margin: 0; padding: 0;} 
select,input,textarea{ border-radius:0; -webkit-border-radius:0; color:#666460;} 
input:focus { outline: none;}
input,button,select,textarea{ outline:none;/*-webkit-appearance:none;*//*强制去除表单自带的样式*/ } 
textarea{ resize:none;} 
textarea,input,select { background:none; /* border:none; */ margin:0; padding:0;}
audio,canvas,progress,video { display: inline-block; vertical-align:baseline;}
article,aside,footer,header,hgroup,nav,section,figure,figcaption{ display:block;}
figure,figcaption{ margin:0px; padding:0px;}
img{ border:none; border:0; max-width:100%; vertical-align:top;}
a{ color:#000; text-decoration:none; -webkit-tap-highlight-color:rgba(0,0,0,0);}
a:focus {outline:none; -moz-outline:none;}
/* a:hover{ color: #ed2833;} */
.clear{ clear:both; height:0px; overflow:hidden;}
.clearfix:after { content: "."; display: block; height: 0; visibility: hidden; clear: both;
 font-size: 0px;}
.clearfix { zoom: 1;}
.w1200{ width: 1200px; margin: 0 auto;}
.contain{}
.slidebar{}
.maincontent{}
.content{}
.txtbox,
.singlepage{text-justify:inter-ideograph; text-align:justify; word-wrap:break-word; overflow:hidden;}
.current{}
.m{ max-width:1600px; margin:0 auto;}
.m2{ /* max-width:1200px; */ margin:0 auto;}

/* .header_m .header_search{ text-align:center; float:right; padding:5px 7px; margin:18px 15px 0 0; cursor:pointer;}
.header_m .header_search .glyphicon{ font-size:16px;}
.header_m .hsearch_m{ position:absolute; top:90px; right:20%; background:#201c6f; width:230px; padding:10px 15px; display:none; z-index:999;}
.hsearch_m .hsearch_input{ background:#fffaf6; height:26px; border-radius:3px; padding:0 10px;}
.hsearch_m .hsearch_btn .glyphicon{ color:#fffaf6; padding:6px 10px; font-size:16px;} */

.header_m .header_r{ background:#3f434b; color:#fffaf6; width:100%; margin-top:15px;}
.header_r .ul{ float:left;}
.header_r .ul li{ float:left;}
.header_r .ul a{ font-size:12px; color:#fffaf6; display:inline-block; padding:6px 0;}
.header_r .ul i{ display:inline-block; width:18px; height:18px; vertical-align:middle; margin:-2px 8px 0 15px;}
.header_r .ul .header_i1{ background:url(../img/en/header_i1.jpg) no-repeat;}
.header_r .ul .header_i2{ background:url(../img/en/header_i2.jpg) no-repeat;}

.header_m .header_r .header_site{ float:right; margin-right:15px; padding:6px 5px; font-size:12px; cursor:pointer;}
.header_m .header_r .header_site:hover{ color:#90c31f;}
.header_site .glyphicon{ margin-left:5px;}
.header_site:hover .glyphicon{ color:#90c31f;}

.share{ text-align:center; margin-bottom:22px;}
.share a span{ display:inline-block !important; width:36px; height:36px; margin:0 5px;}
.share a{ display:inline-block;}
.share .share_a1 span{ background:url(../img/en/link1.jpg) no-repeat; height:36px !important; padding:0 !important;}
.share .share_a2 span{ background:url(../img/en/link2.jpg) no-repeat; height:36px !important; padding:0 !important;}
.share .share_a3 span{ background:url(../img/en/link3.jpg) no-repeat; height:36px !important; padding:0 !important;}
.share .share_a4 span{ background:url(../img/en/link4.jpg) no-repeat; height:36px !important; padding:0 !important;}
.share .share_a5 span{ background:url(../img/en/link5.jpg) no-repeat; height:36px !important; padding:0 !important;}
.jiathis_style_32x32  .jtico{ display:inline-block !important;}
.links{ text-align:center; margin-bottom:10px;}
.links a{ color:#989898;}
.links em{ display:inline-block; width:1px; height:10px; background:#989898; margin:0 5px 0 10px;}
.copyright{ padding:0 15px; text-align:center;}
.copyright span{ display:inline-block; color:#989898;}
.copyright a{ color:#989898;}
.copyright a:hover{ color:#90bc28;}
.bottom_icp{ padding:0 10px;}
.gotop{width: 50px;height: 52px;background:url(../img/back_to_top.png) no-repeat;background-size:100% 100%;position: fixed;right: 50px;bottom: 270px;cursor:pointer;z-index:99;}
.homeban_pc{ display:none;}
.homeban .bx-wrapper img{ width:100%;}
.homeban .bx-wrapper{ max-width:100% !important;}
.homeban .bx-wrapper{ margin:0 auto;}
.homeban .bx-wrapper .bx-pager.bx-default-pager a{ width:8px; height:8px; border:2px solid #ed2833;; border-radius:8px; background:none;}
.homeban .bx-wrapper .bx-pager.bx-default-pager a:hover,
.homeban .bx-wrapper .bx-pager.bx-default-pager a.active{ background:#ed2833;border-color:#ed2833;}
.homeban .bx-wrapper .bx-pager,
.homeban .bx-wrapper .bx-controls-auto{ bottom:10px;}

.home_h{ padding:0px;background:#201c6f;height:60px;display:inline-block;width:100%;}
.home_h .h2{ font-size:24px; color:#fffaf6; float:left;margin-top:10px;font-weight:normal;font-family:'SFUEurostileCondensed'}
.home_h i{ margin-top: 19px;margin-right: 5px;height: 20px;width:20px;float:left;}
.horizonBar i{background: url(../img/en/main/icon_02.png) no-repeat;}
.home_h .h2 i{ display:inline-block; width:26px; height:26px; vertical-align:middle; margin:-3px 8px 0 0;}
.home_h .h2 .home_hi1{ background:url(../img/en/home_hi1.png) no-repeat;}
.home_h .h2 .home_hi2{ background:url(../img/en/home_hi2.png) no-repeat;}
.home_h .h2 .home_hi3{ background:url(../img/en/home_hi3.png) no-repeat;}
.home_h .home_hmore, .timeline-event-content .home_hmore{ cursor: pointer;text-align:center;position:relative;margin-right:20px;margin-top: 10px;line-height:2.5;display:block;width:136px;height:40px;float:right;}
.timeline-event-content .home_hmore{bottom: -2px;right: 0;clear: both;margin-right: 0;}
.home_h .home_hmore i, .timeline-event-content .home_hmore i{background: url(../img/arrow_02.png) no-repeat;position:absolute;margin-left:5px;float:right;height:12px;width:16px;margin-top:15px;margin-right: 20px;}
.homeproject{ background:#ededed; padding-bottom:20px;}
.homeproject .ul img{ width:100%;}
.homeproject .ul .p{ font-size:18px; color:white; font-weight:bold; padding:10px 0 28px; text-align:center;}

.homecase{ background:#fffaf6; padding-bottom:25px;}
.hc_list .ul li{ padding:0 15px 30px;}
.hc_list .ul .hc_img{ position:relative;}
.hc_img img{ width:100%;}
.hc_img .hc_name{ position:absolute; bottom:0; left:0; width:100%; height:60px; line-height:60px; background:#ed2833;; color:#fffaf6; font-size:20px; font-weight:bold; text-align:center;}
.hc_text .h3{ visibility: hidden; font-size:18px; font-weight:normal;line-height:25px; height:25px; margin:5px 0 5px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.hc_text .p{ height:40px;overflow : hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;}
.hc_text .hc_icon{ display:none;}

.side_h .sidebanner_pc{ width:100%; height:419px; display:none;}
.side_h .sidebanner_mb img{ width:100%;}
.side_h .crumb{ padding:16px 0;}
.side_h .crumb a,.side_h .crumb span{ font-size:12px;}
.side_h .crumb a:hover{ color:#90c31f;}
.side_h .crumb span{ color:#90c31f;}
.menu{text-align:center; padding:32px 0 22px; /* border-bottom:1px solid #ededed; */}

/* .menu a, .menu2 a{ cursor: pointer;width:100%;background:#201c6f;display:inline-block;height:40px;line-height:1.7;color:#fffaf6;font-size:20px;margin-bottom:15px;} */
.menu a, .menu2 a{cursor: pointer;width:auto;background:#201c6f;display:inline-block;height: 36px;line-height:1.7;padding: 4px 10px 0 10px;color:#fffaf6;font-size: 18px;/* border-radius:30px; */margin-bottom:15px;}


.menu .onnav,.menu a:hover{ color:#fffaf6; background:#ed2833;}

.pd4_h .onnav{display: block;padding: 6px 10px;font-size: 12px;border-radius: 30px;margin-top: 7px;margin-left: 30px;margin: 7px auto;border-bottom: 1px solid #ededed;color: #fffaf6;background: #90c31f;width: 107px;}

.about_body{ padding:0px 15px 60px; margin-bottom:0px}
.about_body .hi_box{ padding-right: 25px; }
.about_body .about1{ margin:0 0 20px; padding:20px 15px; border:1px solid #ededed; background:#fcfcfc;}
.about_list .about_img img{ width:100%;}
.about_list .ul li{ margin-bottom:35px;}
.about_text .h3{ font-size:18px; color:#333; font-weight:normal; margin:10px 0 10px;}
.about_text em{ display:block; width:51px; height:7px; background:url(../img/en/about.png) no-repeat;}
.about_text .p{ color:#666; margin-top:10px;}
.about_list .ul .li_video video{ width:100%;}

.Floor001014{ padding:0;}
.Floor001014 .title{ padding:18px 0; overflow:hidden; background-color:#fffaf6;}
.Floor001014 .title em{ font-style:normal; font-size:20px; float:left;}

.Floor001014 .title em span{ color:#c8c8c8; font-size:12px; font-family:'SFUEurostileRegular',sans-serif; display:block; text-transform:uppercase;} /* maineror */

.Floor001014 .list_scroll{ width:90%; position:relative; z-index:1; margin:0 auto;}
.Floor001014 .list_copy{ display:none;}

/* lỗi */

.Floor001014 .list_scroll li{ text-align:center; line-height:40px; cursor:pointer; font-size:15px;}
.Floor001014 .list_scroll li.on{ font-weight:bold; color:#0e408b;}
.Floor001014 .list_scroll li.on::before,
.Floor001014 .list_scroll li::after{position:absolute; content:'';}
/* lỗi */
.Floor001014 .list_scroll li.on::before{  left:50%; margin-left:-5px; bottom:0; width:0; height:0; border:5px solid #0e408b; border-left-color:transparent;border-right-color:transparent; border-bottom:0;}
.Floor001014 .list_scroll li::after{ background-color:#cdcdcd; width:4px; height:4px; border-radius:50%; right:0; top:50%; margin-top:-2px;}
.Floor001014 .list_scroll .bx-viewport{ z-index:2;}
.Floor001014 .list_scroll .bx-controls-direction{ position:absolute; right:-50px; padding:0 50px; top:35%; margin-top:-16px; width:100%; height:33px; z-index:5; }
.Floor001014 .list_scroll .bx-controls-direction a{ display:inline-block; width:33px; height:33px; background-image:url(../img/en/Floor001014-btn.png); background-repeat:no-repeat; overflow:hidden; line-height:100px; float:left;margin-left:7px;}
.Floor001014 .list_scroll .bx-controls-direction a.bx-prev{ background-position:0 0;}
.Floor001014 .list_scroll .bx-controls-direction a.bx-prev.disabled{ background-position:0 0;}
.Floor001014 .list_scroll .bx-controls-direction a.bx-next{ background-position:right bottom; }
/*.Floor001014 .list_scroll .bx-controls-direction a.bx-next.disabled{ background-position:right bottom;}*/
.Floor001014 .bx-pager{ display:none;}
.Floor001014 .list_content .bx-controls{ display:none;}
/* lỗi */
.history_body{ background:pink;}
.Floor001014 .list_scroll .bx-viewport{ padding-top:50px;}
.Floor001014 .list_scroll li{ border-radius:50px;}
.Floor001014 .list_scroll li.on{ color:#fffaf6; background:#90c31f; font-weight:normal;}
.Floor001014 .list_scroll li.on::before{border: 5px solid #90c31f;border-left-color: transparent;border-right-color: transparent;border-top: 0; top:-5px; font-weight:normal; color:#fffaf6;}
.Floor001014 .list_scroll li::after{ background:#808288; width:80px; height:12px; top:-22px; left:45%; background:url(../img/en/banner_line.jpg) no-repeat; background-size:100% 100%; border-radius:0;}
.Floor001014 .list_scroll li.on::after{ background:url(../img/en/banner_line2.jpg) no-repeat;}

.Timeline001524{ padding-bottom:50px;}
.Timeline001524 .columnName{ text-transform:uppercase; padding:50px 0; line-height:normal; text-align:center; font-size:61px; color:#c20f00;}
.Timeline001524 .columnName span{ display:block; color:#353535; font-size:30px; padding:10px 0 15px;}
.Timeline001524 .columnName i{ display:block; margin:0 auto; width:40px; height:2px; background-color:#c20f00;}
.Timeline001524 .list{ background:url(../img/en/Timeline001524-logo.jpg) no-repeat center top; padding-top:23px; margin-top:20px;}
.Timeline001524 .list ul{ background:url(../img/en/Timeline001524-ul.jpg) repeat-y center top; padding:54px 0;}
.Timeline001524 li{ padding-left:50%; background:url(../img/en/Timeline001524-li.png) no-repeat center top; padding-top:10px; padding-bottom:10px;}
.Timeline001524 li div{ padding-left:36px;}
.Timeline001524 li div p{ font-size:14px;}
.Timeline001524 li.odd{ text-align:right; padding-left:0; padding-right:50%;}
.Timeline001524 li.odd div{padding-left:0; padding-right:36px;}
.Timeline001524 li time{ display:block; color:#353535; font-size:18px; padding-top:12px; background:url(../img/en/Timeline001524-time.gif) no-repeat left top;}
.Timeline001524 li.odd time{ background-image:url(../img/en/Timeline001524-time_odd.gif); background-position: right top;}
.Timeline001524 ol{ text-align:center;}
.Timeline001524 ol a{ display:inline-block; width:142px; height:30px; line-height:30px; text-align:center; color:#fffaf6; font-size:14px; background:url(../img/en/history_more.jpg) no-repeat;}
.Timeline001524 .list .history_img{ width:258px; height:116px;}
.history_list dl,.history_list dd{ margin:0;}
.history_list dl dd{ margin-bottom:25px; padding:0 10px;}
.history_list .hl_img img{width:100%;}
.history_list .hl_text{}
.history_list .hl_time{ width:90px; height:28px; color:#fffaf6; line-height:28px; text-align:center; background:#808288; border-radius:28px; margin:15px 0;}
.history_list dl dd .dd_i{ display:none;}

.culture_body{ padding:25px 10px;}
.culture_body .ul li{ margin-bottom:30px;}
.culture_body .ul li img{ width:100%;}
.culture_text .h3{ font-size:18px; color:#90c31f; font-weight:normal; margin:5px 0;}
.culture_text .p{ font-size:14px;}

.speak_body{ padding:30px 10px;}
.speak_body .speak1{ background:url(../img/en/speak1.jpg) no-repeat; background-size:100% 100%; padding:20px 0; text-align:center; margin-bottom:25px;}
.speak_body .speak2{ margin-bottom:25px;}
.speak_body .speak2 img{ width:100%;}
.speak1 .h3{ font-size:25px; color:#90c31f; font-weight:normal;}
.speak1 .p{ font-size:16px; color:#9e9e9e;}
.speak2_text .p{ color:#666; margin-bottom:20px;}
.speak2_text .p1{ font-size:18px; color:#90c31f; margin-bottom:25px;}
.speak2_text .p1{ margin-bottom:25px;}

.sdetail_body{ padding:50px 0;}
.sdetail_body .sd1{ padding:0 10px 20px;}
.sdetail_body .sd1 .h3{ font-size:20px; color:#666; font-weight:normal;}
.sdetail_body .sd1 .p{ color:#666; height:115px; overflow: hidden;}
.sdetail_body .sd1 .ul{ margin-top:45px;}
.sd1 .ul li{ margin-bottom:20px;overflow: hidden; height:180px; padding:20px 3.6% 20px 12.7%;background:url(../img/en/sdetail.png) #f7f7f7 no-repeat 5.45% 50px; }
.sd1 .ul .h4{ font-size:17px; color:#666;}
.sdetail_body .sd2{ background:#f7f7f7; padding:25px 0 32px;}
.sdetail_body .sd2 .h3{ font-size:20px; color:#666; font-weight:normal; margin:0 0 10px 10px;}
.sd2 .sd2_img img,.sd3 .sd3_img img{ max-width:250px;max-height:250px}
.sdetail_body .sd3{ padding:20px 10px 20px;}
.sdetail_body .sd3 .h3,.sdetail_body .sd4_banner .h3{ font-size:20px; color:#666; font-weight:normal; margin-bottom:16px;}
/* .sd3 .ul li{ margin-bottom:30px; border:1px solid #201c6f;} */
/* .sd3 .sd3_text{ padding:0 25px 20px;} */
.sd3 .sd3_text h3 a{color:#201c6f}
.sd3 .sd3_text .h4{ margin:5px 0 5px;}
.sd3 .sd3_text .h4 a{ font-size:16px;}
.sd3 .sd3_text .p{ color:#000; /* max-height:50px; */ line-height:24px;overflow:hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 5;-webkit-box-orient: vertical;}

.sd1 ul li p,
.sd1 ul li .p,
.sd1 ul li span,
.sd1 ul li p.MsoListParagraph,
.sd1 ul li span.MsoListParagraph{text-indent: 0 !important; margin-left: 0 !important;} 

.sd4_banner{ margin:45px auto 0; padding:0 10px;}
.sd4_banner .picScroll-left{ overflow:hidden; position:relative;}
.sd4_banner .picScroll-left .hd{ overflow:hidden;  height:30px; padding:25px 0 50px;}
.sd4_banner .picScroll-left .pic{ width:280px; position:relative;}
.sd4_banner .picScroll-left .hd .next{ background-position:0 -50px;  }
.sd4_banner .picScroll-left .hd .prevStop{ background-position:-60px 0; }
.sd4_banner .picScroll-left .hd .nextStop{ background-position:-60px -50px; }
.sd4_banner .picScroll-left .hd ul{ padding:0; overflow:hidden; zoom:1; margin-top:10px;  zoom:1; text-align:center; }
.sd4_banner .picScroll-left .hd ul li{ display:inline-block; width:10px; height:10px; overflow:hidden; margin:0 6px; text-indent:-999px; cursor:pointer; background:url(../img/en/point1.jpg) no-repeat;border-radius:10px;}
.sd4_banner .picScroll-left .hd ul li.on{ background:url(../img/en/point2.jpg) no-repeat; }
.sd4_banner .picScroll-left .bd{}
.sd4_banner .picScroll-left .bd ul{ overflow:hidden; zoom:1; }
.sd4_banner .picScroll-left .bd ul li{ margin:0 10px; float:left; _display:inline; overflow:hidden; text-align:center; list-style:none;}
.sd4_banner .picScroll-left .prev,.sd4_banner .picScroll-left .next{ display:block; width:20px; height:20px; line-height:20px; border-radius:20px; position:absolute; overflow:hidden; display: inline-block;font-family: 'Glyphicons Halflings';font-style: normal;font-weight:bold;-webkit-font-smoothing: antialiased;font-size: 12px;color: #cdcdcd;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;border:2px solid #cdcdcd;text-align:center;}
.sd4_banner .tempWrap{ margin:0 auto;}
.sd4_banner .picScroll-left .prev{ top:45%; left:0; }
.sd4_banner .picScroll-left .next{ top:45%; right:0; }
.sd4_banner .picScroll-left .prev:hover, .sd4_banner .picScroll-left .next:hover{ color:#90c31f; border-color:#90c31f;}
.sd4_banner .sd4_name{ position:absolute; bottom:0; left:0; width:100%; height:60px; line-height:60px; background:rgba(144,195,31,0.8); color:#fffaf6; font-size:20px; font-weight:bold; text-align:center;white-space: nowrap;overflow: hidden;text-overflow: ellipsis}

.case_body{ padding:30px 10px;}
.case_body .ul li{ position:relative; overflow:hidden; margin-bottom:36px; border:1px solid #ebebeb;box-sizing:border-box; -moz-box-sizing:border-box; /* Firefox */ -webkit-box-sizing:border-box; background:#fdfdfd;}
.case_body .case_img{ width:100%;}
.case_body .case_img img{ width:100%;}
.case_body .case_text{ padding:15px 20px;border: 2px solid #201c6f;}
.case_body .case_text .h3{overflow: hidden;text-overflow: ellipsis;white-space: nowrap;color:#201c6f;}
.case_body .case_text .h3:hover{color:#ed2833;}
.case_body .case_text .h3 a{ font-size:16px; color:#000000;}
.case_body .case_text .h3 a:hover{ color:#90c31f;}
.case_body .case_text .p{ color:#a6a6a6; line-height:22px; height:44px; overflow : hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical; margin-bottom:35px;}
.case_body .case_text .case_more{ display:block; width:130px; height:30px; line-height:30px; text-align:center; border:1px solid #d2d2d2; color:#999; margin:0 auto; border-radius:2px;}
.case_body .case_text .case_more:hover{ background:#90c31f; color:#fffaf6; border-color:#90c31f;}
.case_body .case_info{ display:none;}
.case_body .case_info .box dl span{ display:block; text-align:left; padding:5px 20px;}
.case_body .case_info .box dl{ padding:0; margin:0}

.product_body .product_box{ display:none;}
.product_body .product_show{ display:block;}
/*产品中心 结束*/



/*产品详情页*/
.pd1{ background:#f3f3f3; padding:30px 10px;}
.pd1 .pd1_img img{ width:100%;}
.pd1 .pd1_text{}
.pd1 .pd1_text .h3{ font-size:20px; color:#3f434b; font-weight:normal; margin:5px 0 10px;}
.pd1 .pd1_text .p{ color:#4a4a4a;}

.pd2{ padding:30px 10px;}
.pd2 .ul li{ margin-bottom:30px;}
.pd2 .h3{ font-size:20px; color:#4a4a4a; font-weight:normal; margin-bottom:5px;}
.pd2 .p{ font-size:16px; color:#818181; margin-bottom:30px;}
.pd2 .pd2_img{ float:left; width:25%; text-align:right;}
.pd2 .pd2_img img{ margin-top:10px;}
.pd2 .pd2_text{ float:left; width:69%; padding:0 3%;}
.pd2 .pd2_text .h4{ font-size:18px; color:#4a4a4a; font-weight:normal;}
.pd2_text dl,.pd2_text dd{ margin:0;}
.pd2_text dl dd{ /*background:url(../img/en/product_bg.jpg) no-repeat left center;*/ padding-left:10px; color:#818181; margin-bottom:3px;}

.pd3{padding:30px 10px 50px; /* background:#f3f3f3; */}
.pd3 .h3{ font-size:20px; color:#4a4a4a; margin-bottom:20px;}
.pd3 .pd3_m{ /*margin-bottom:30px;*/}
.pd3 .pd3_m .pd3_h{ font-size:16px; color:#90c31f; margin-bottom:15px;text-align: center;width: 100%;background-color: #eee;padding:10px 0;}
.pd3_m .tex table{line-height: 35px; width: 100%; color: #000;border-collapse: collapse}
.pd3_m .tex thead{background: #e60012;}
.pd3_m .tex thead th{font-size: 14px; text-align: center; color: #fffaf6;}
.pd3_m .tex tr,
.pd3_m .tex td,
.pd3_m .tex thead th{border-bottom: 1px solid #201c6f;padding-left: 20px;}
.pd3_m .list .title{ font-size: 16px; line-height:45px;  margin:0 0 2px 0; padding:0 16px; color: #fffaf6; cursor:pointer; background-color:#201c6f; /* background-image:url(../img/en/r-p.png); */ background-repeat:no-repeat; background-position:right top;  -webkit-transition:all ease 0.5s;transition:all ease 0.5s;}

.pd3_m .list .title_n{ width:250px; border-bottom: 2px solid #201c6f; text-align:center; font-size: 20px; line-height:45px;  margin:auto; padding:0 16px; color: #201c6f; cursor:pointer; background-color:transparent; /* background-image:url(../img/en/r-p.png); */ background-repeat:no-repeat; background-position:right top;  -webkit-transition:all ease 0.5s;transition:all ease 0.5s;}
.pd3_m .list .title_n:hover{border-bottom: 2px solid #ed2833;;color:#ed2833;}

.pd3_m .list.on .title{ background-position:right bottom;}
.pd3_m .list .tex{ display:none;}
table tbody tr{text-align:left;height: 40px;}
/* table tbody tr th{text-align:center;background:#ed2833;color:#fffaf6FFF; height:38px;} */
/*table tbody tr th{text-align:left;background:transparent;color:#ed2833;height:38px;padding-left:20px;}
table tbody tr th:first-child{border-right: 2px solid #201c6f;}
table tbody tr td:first-child{ width:50%;border-right: 2px solid #201c6f;}*/
table tbody tr th{text-align:left;background:transparent;color:#ed2833;height:38px;padding-left:20px;border: 1px solid #201c6f;}
table tbody tr td{border: 1px solid #201c6f;}
/*.pd3_m .tex{display: none;}
.pd3_m .ul{ border-bottom:1px solid #e4e4e4; padding-bottom:25px;}
.pd3_m .ul li{ padding:8px 0;}
.pd3 .pd3_m:last-child .ul{ border:none;}*/

.pd4{ padding:30px 10px;}
.pd4 .pd4_h .h3{ font-size:18px; color:#4a4a4a; font-weight:normal; margin-bottom:10px;}
.pd4 .pd4_h .pd4_input{ border:1px solid #eee; border-radius:40px; margin:15px 0;}
.pd4_input input{ float:left; width:74%; height:44px; line-height:44px; padding:0 4%;}
.pd4_input .pd4_btn{ display:block; float:left; width:16%; height:44px; background:url(../img/en/pd4_btn.jpg) no-repeat center center;}
.pd4 .pd4_h .pd4_filter{ text-align:center;}
.pd4_filter a{ display:inline-block; width:100px; height:25px; text-align:center; line-height:25px; border:1px solid #ededed; color:#4a4a4a; font-size:12px; border-radius:40px; margin:15px 0;}
.pd4_filter .pd4_active,.pd4_filter a:hover{ color:#fffaf6; background:#90c31f; border-color:#90c31f;}
.pt90{padding-top:90px !important;}

.content-txt{ margin-left:2%;}
.content-txt .h1{ font-size:18px;}
.content-txt .h2{ padding:10px 0; font-size:20px; color:#009900; font-weight:bold; border-bottom: 1px solid #ddd;}
.content-txt .h3{padding:10px 0;  color:#009900; font-weight:bold;}
.content-txt .list{ overflow:hidden; padding:10px 0}
.content-txt .list .txt{  padding-bottom:20px;}
.content-txt .list .txt:nth-child(even){ clear:both;}

.db1 .db1_h{ font-size:16px; color:#000000; font-weight:bold; padding:25px 15px;}
.db1 .ul{ background:#fffaf6; padding:10px 15px;}
.db1 .ul li{ display:inline-block; margin:0 10px 0 0; padding:8px 0;}
.db1 .ul li a{ display:block; padding:3px 6px;}
.db1 .ul li a:hover,.download_body .ul li .active{ background:#90c31f; color:#fffaf6; border-radius:5px;}

.download_search{ padding-top:0;}
.download_search .pd4_h .pd4_input{ float:left; width:100%;}

.question_search{ padding-top:0;}
.question_search .pd4_h .pd4_input{ float:left; width:100%;}
.question_list{ padding:30px 0;}
.question_list .ul li{ margin-bottom:15px;}
.question_list .qs_h{ border:1px solid #f0f0f0; background:#fffaf6; cursor:pointer;}
.qs_h .qs_number{ float:left; width:30px; height:30px; line-height:30px; text-align:center; color:#90c31f; font-size:16px; background:#f3f3f3;}
.qs_h .p{ float:left; padding:6px 10px 3px;}
.question_list .qs_body{ margin:10px; padding:10px; border:1px solid #f0f0f0; display:none;}
.qs_body .p2{ margin-top:15px;}

.question_list .qs_active{ border-color:#fffaf6; background:#f3f3f3;}
.qs_active .qs_number{ background:#90c31f; color:#fffaf6;}

.service_body{ padding:30px 10px;}
.service_body .service1{ background:#ededed; padding:15px;}
.service_body .service1 .p{ color:#000000; line-height:24px;}
.service_h{ padding:25px 0 15px;}
.service_h .h3{ font-size:20px; color:#3f434b; font-weight:normal; text-align:center;}
.service_h em{ display:block; width:51px; height:7px; background:url(../img/en/about.png) no-repeat; margin:16px auto -15px;}
.service_body .service_intro{ margin-bottom:10px;}
.service_body .service_map img{ width:100%;}
.service_body .service2{ background:#eeeff3;}
.service_body .service2 img{ width:100%;}
.service2 .service2_text{ padding:10px 20px 30px;}
.service2 .service2_text .p{ text-align:center; font-size:14px; margin-bottom:5px;}
.service2 .service2_text .p2{ font-size:16px; color:#90c31f; font-weight:bold;}
.service_body .service3{ margin-top:40px;}
.service3 .ul li{ margin-bottom:15px;}
.service3 .ul img{ width:100%;}
.service3 .ul .p{ padding:20px 0; text-align:center;}
.service_body .service4{}
.service4 img{ width:100%;}
.service4 .service4_text{ padding:25px 0 35px;}
.service4 .service4_text .h4{ font-size:18px; color:#90c31f; font-weight:normal; margin-bottom:20px;}
.service4 .service4_text .p{ line-height:24px;}
.service4 .service4_text .service4_more{ display:block; width:125px; height:32px; line-height:32px; border-radius:32px; text-align:center; background:#90c31f; margin:30px auto 0;}
.service4_text .service4_more span{ color:#fffaf6; text-decoration:underline;}

.qa_search{ background:url(../img/en/qa_bg2.jpg) #567ca1 no-repeat center bottom; background-size:auto 100%; padding:0 0 30px;}
.qa_search .service_h .h3{ color:#fffaf6;}
.qa_search .qa_input{ padding:0 10px;}
.qa_search .qa_input .pd4_input{ background:#fffaf6; max-width:500px; margin:0 auto;}
.qa_search .qa_ht{ padding:10px 10px; border-bottom:1px solid #fffaf6; max-width:500px; margin:20px auto 0;}
.qa_search .qa_ht .p{ float:left; color:#fffaf6; padding-top:6px;}
.qa_search .qa_ht .qa_more{ display:block; float:right; display:block; width:125px; height:32px; line-height:32px; border-radius:32px; text-align:center; background:#90c31f;}
.qa_ht .qa_more span{ color:#fffaf6; text-decoration:underline;}
.qa_body{ padding:10px 10px;}
.qa_body .qa_info{ padding:20px 15px; border:1px solid #e8e8e8;}
.qa_body .qa_info .p{ color:#a6a6a6;}
.qa_body .qa_info .p1{ margin-top:22px;}
.qa_body .qa_info .p2{ font-weight:bold; color:#90c31f; font-size:16px; margin:40px 0 20px;}

.join_body{ padding:0 10px;}
.join_body .join1{ padding:40px 0;}
.join_body .join1 .h3{ font-size:24px; color:#90c31f; font-weight:normal;}
.join_body .join1 .p{ font-size:16px;}
.join2{ background:#f7f7f7; padding:20px 10px;}
.join2 .join2_h{ font-size:24px;}
.join2_list .join2_img{ position:relative; border-radius:5px; overflow:hidden; margin-top:30px;}
.join2_list .join2_img img{ width:100%;}
.join2_list .join2_img .p{ font-size:24px; color:#fffaf6; width:100%; height:50px; line-height:50px; text-align:center; position:absolute; bottom:0; left:0; background:#90c31f;}
.join2_list .ul li{ width:46%; margin:15px 2%; float:left; background:#fffaf6; text-align:center; padding-top:30px; border:1px solid #f0f0f0;box-sizing:border-box; -moz-box-sizing:border-box; /* Firefox */ -webkit-box-sizing:border-box; border-radius:5px;}
.join2_list .ul li .p{ padding:35px 0 30px; font-size:22px;}
.join3{ padding:30px 10px;}
.join3 .h3{ font-size:24px; font-weight:normal; text-align:center; margin-bottom:10px;}
.join3 img{ display:block; margin:0 auto;}

.staff_body{ padding:30px 10px 25px;}
.staff_body .ul img{ display:block; margin:0 auto;}
.staff_body .ul .p{ font-size:20px; text-align:center; margin:30px 0 45px;}

.recruit_body{ padding:20px 0 60px;}
.recruit_h{ padding:36px 0; text-align:center;}
.recruit_h a{ margin:0 15px; font-size:16px;}

.recruit_h .onnav,.recruit_h a:hover{ color:#90c31f; border-bottom:2px solid #90c31f;}
.recruit1 .rb_city{ width:150px; height:50px; position:relative; margin:0 auto; margin-bottom:20px; float:left; margin-left:10px;}
.rb_city .rb_choose{ width:150px; height:50px; line-height:50px; text-align:center; font-size:16px; border-radius:50px; background:#f7f7f7; position:absolute; top:0; z-index:99;}
.rb_choose .rb_icon{ display:inline-block; width:12px; height:8px; background:url(../img/en/down2.jpg) no-repeat; vertical-align:middle; margin:-2px 0 0 10px;}
.rb_avtive .rb_icon{ background:url(../img/en/down1.jpg) no-repeat;}
.rb_city .rb_down{ background:rgba(144,195,31,0.8); width:150px; padding:30px 0 10px; position:absolute; top:25px; border-bottom-left-radius:10px; border-bottom-right-radius:10px; display:none;}
.rb_down .ul li{ text-align:center; color:#fffaf6; height:30px; line-height:30px;}
.recruit1 .rb_search{ float:left; width:90%; padding:0 5%;}
.rb_search .pd4_h .pd4_input{ margin:0;}

.rb2_body{ border:1px solid #e8e8e8; border-top:none; border-bottom:none; margin-top:30px;}
.rb2_body .rb2_head{ background:#90c31f; color:#fffaf6; padding:10px 0;}
.rb2_body .rb2_head span,.rb2_body .rb2_h span{ display:block; float:left;}
.rb2_body .rb2_h{ background:#fffaf6; border-bottom:1px solid #e8e8e8;}
.rb2_body .rb2_h span{ font-size:12px; padding:10px 0;}
.rb2_body .rb2_h .span1,
.rb2_body .rb2_h .span2,
.rb2_body .rb2_h .span3,
.rb2_body .rb2_h .span4{ cursor:pointer;}
.rb2_body .span1{ width:40%;}
.rb2_body .span2{ width:20%; text-align:center;}
.rb2_body .span4{ width:20%; text-align:center;}
.rb2_body .span5{ width:20%; text-align:center;}
.rb2_body .rb2_h .apply_a{ display:inline-block; background:#3f434b; color:#fffaf6; padding:2px 3px;}
.rb2_detail{ padding:0 10px 15px; display:none;}
.rb2_detail .h3{ font-size:16px; color:#90c31f; margin:35px 0 15px;}
.rb2_detail .p{ color:#a6a6a6;}
.rb2_detail .h3 em{ font-size:16px; font-style:normal; color:#0046d1; font-weight:normal; text-decoration:underline;}

/* .rb2_body .rb2_hactive{ background:#f6f6f6;} */
.rb2_body .rb2_hactive .apply_a{ background:#90c31f;}

.rb2_body .rb2_head .span3,.rb2_body .rb2_h .span3{ display:none;}

.hover{ width:100%; height:100%; background:rgba(0,0,0,0.6); position:fixed; top:0; left:0; z-index:999; display:none;}
.hover .hover_m{ position:absolute; top:22%; width:100%;}
.hover .hover_m .hover_box{ width:600px; padding-bottom:30px; margin:0 auto; background:#fffaf6; position:relative;}
.hover_box .h3{ font-size:25px; color:#90c31f; font-weight:normal; text-align:center; height:50px; line-height:50px; background:#ededed; margin-bottom:20px;}
.hover_box .hover_item{ margin-bottom:25px; padding-left:70px;}
.hover_box .hover_item span{ display:inline-block; width:100px; padding-right:15px; text-align:right; font-size:16px; color:#444;}
.hover_box .hover_item input{ width:310px; border:1px solid #eee; padding:10px 10px;}
.hover_box .hover_code input{ width:100px;}
.hover_box .hover_code img{ width:80px; height:32px;}
.hover_box .hover_btn{ text-align:center;}
.hover_box .hover_btn input{ display:inline-block; width:115px; height:40px; line-height:40px; font-size:16px; text-align:center; color:#fffaf6; background:#90c31f; border:none; cursor:pointer; cursor:pointer; margin:0 15px;}
.hover_box .hover_btn .hover_reset{ background:#b5b5b5;}
.hover_box .hover_close{ display:block; width:50px; height:50px; background:url(../img/en/hover_close.jpg) no-repeat; position:absolute; right:0; top:0; cursor:pointer;}

.other_body{ padding:30px 10px; min-height:500px;}
.links_body{ width:90%; padding:20px 5% 50px; min-height:500px;}
.links_body .ul li{ width:40%; margin:20px 5% 0; float:left;}
.links_body .ul .links_img{ width:100%;}
.links_body .ul .links_img img{ width:100%;}
.links_body .ul .p{ padding:10px 0; text-align:center; font-size:16px;}
.links_body .ul li:hover .p{ color:#ffa800;}

.detail_m .home_contact{ padding:15px 0;}
.detail_body{ padding:0 15px;}
.detail_body .detail_head{ padding:30px 0 15px; border-bottom:1px dashed #999;}
.detail_body .detail_head .detail_h{ font-size:25px; font-weight:normal; text-align:center; margin-bottom:10px;}
.detail_body .detail_head .detail_time{ font-size:15px; color:#ccc; text-align:center;}
.detail_body .detail_text{ padding:25px 0 50px;}

.result_body{ min-height:500px;}
.result_body .result_table{ padding:25px 0 50px;}
.result_table table{ width:100%; border:1px solid #e8e8e8;}
.result_table table thead{ background:#ed2833; color:#fffaf6;}
.result_table table td,.result_table table th{ padding:10px 2%; text-align:left; font-size:16px; font-weight:normal;}
.result_table table td{ border-top:1px solid #e8e8e8;}
.result_table table .td1{ width:75%;}
.result_table table .td2{ width:25%;}

.ul_sitemap li{ border-bottom:dotted 1px #ddd; padding:5px 0px;}
.ul_sitemap li strong{ width:90px; display:inline-block;}
.BMap_Marker>div img{ max-width:none;}


/*侧方悬浮框*/
.commonposition{position: fixed;top:40%;right:0;z-index: 99; display:none;}
.commonposition a{display:block;width:69px;height:66px;margin-bottom: 1px;background-color:#8cc63f;padding-top: 3px;background-repeat: no-repeat;background-position:center center;position: relative;font-size: 13px;line-height: 22px;text-align: center;color:#fffaf6;}
.commonposition a .icon{display:block;width:40px;height:40px;margin:0 auto;}
.commonposition a.Homedianhua .icon{background-image: url(../img/en/nqhicon_03.png);}
.commonposition a.Homezixun .icon{background-image: url(../img/en/nqhicon_02.png);}
.commonposition a.Homeweixin .icon{background-image: url(../img/en/nqhicon_01.png);}
.commonposition a span{display:none; position:absolute; right:0px; top:0px; height:69px; padding-left:40px; padding-right: 10px; color:#fffaf6;line-height:69px; font-size:14px;background-color:#262626;}
.commonposition a span.dianhuabggray{background-image:url(../img/en/nqhicon_03.png);background-position: left center;background-repeat: no-repeat;width:124px;font-size: 18px;}
.commonposition a span.weixinerweima{right:69px; padding:0px; width:120px;}
.commonposition a span.weixinerweima img{display:block;width: 120px; height: 120px;}

.ser-result{margin-bottom: 35px;max-width: 1200px;margin: 0 auto;}
.ser-result table{border-collapse: collapse;border: 1px solid #e1e1e1;}
.ser-result table th{font-size: 18px;line-height: 30px;padding: 18px;text-align: center;background: #f9f9f9;}
.ser-result table td{padding: 18px;border: 1px solid #ddd;}
#liSearch:hover{border-bottom: 0;}

/*-------------------------MAIN CUSTOM------------------------------*/
.hiddenup{display:none}
.m-active{background: #ed2833;color: #fff;}
.support-dl ul li .main-down-type:hover, .support-dl ul li .main-down-type-temp:hover{background: rgb(253, 67, 79);color: #fff;cursor:pointer} 
a:hover{text-decoration: none !important;}
.btn-red-base{cursor:pointer;background: #ed2833 !important;color: #fffaf6 !important;border-radius:0 !important;font-size:14px;text-align:center;}
.btn-red-base:hover{color: #fffaf6 !important;background: rgb(253, 67, 79) !important;font-size:14px;text-align:center;}
.btn-red-base i{background: url(../img/arrow_02.png) no-repeat;height:12px;width:16px;float:left;margin-top:30%;margin-left: 30%;}
.btn-blue-base{background: #201c6f !important;color: #fffaf6 !important;border-radius:25px !important;font-size:14px;text-align:center;}
.blue-active{background:#ed2833 !important;}
.btn-blue-base:hover{color: #fffaf6 !important;background: #2f2a9d !important;text-align:center;}

.blue-active:hover{color: #fffaf6 !important;background: rgb(253, 67, 79) !important;text-align:center;}

/* .product-detail{height: 503px;} */
.product-detail>.img-product{width: 320px;height: 100%;margin-left: 150px;float: left;height: 503px;}
.product-detail>.txt-product{width: 50%;float: left;margin-left: 100px;/* margin-top: 60px; */}

.product-detail .txt-product .head-text{
	white-space: normal;
    font-family:'SFUEurostileCondensed' !important;
}
.product-detail .txt-product .content-text{
	white-space: normal;
    font-size:14px;
    font-family:'SFUEurostileRegular';
}
th{
	font-size:18px !important;
	font-weight:bold !important;
	font-family: 'SFUEurostileCondensed' !important;
}
td{
	font-size:14px !important;
	font-family: 'SFUEurostileRegular' !important;
}
.pd_table table th, .pd_table table td{
	border-bottom: 1px solid #201c6f !important;
	border-right: 1px solid #201c6f;
}
.pd_table table tbody tr td:first-child{
	border-right: 1px solid #201c6f !important;
}
.pd_table table thead th{
	border-top: 1px solid #201c6f !important;
}
.pd_table table thead th:last-child{
	border-right: none !important;
}
.pd_table table tbody tr td:last-child{
	border-right: none !important;
}
table thead th, table tbody tr th{
	font-family: 'SFUEurostileBold' !important;
}
.maintain{
	top: 100;
	position: relative;
}

.no-background{
	background: none !important;
}

.header_m .nav-btn{ border:1px solid #ed2833; float:right; padding:5px 7px; border-radius:3px; margin:18px 15px 0 0;}
.header_m .nav-btn .glyphicon{ color:#ed2833; font-size:16px;}
.header_m *{ color: #fffaf6}
.header_m .nav-btn{ display:none;}
.header_m div#btnSearch{display:none}
	.header_m div#bg-smartphone{display:none}
	.header_m .mainnav{ display:block;}
	.header_m{ height:90px;/* overflow:hidden; */}
	
	/* left-head */
	.header_m .logo{ width:20%;height:100%;float:left;position:relative}
	.header_m .logo img{ width:214px;height:72px;position:absolute;left:0;right:0;top:0;bottom:0;margin:auto;}
	
	/* middle-head */
	.header_m .mainnav{width:60%;float:left;background:#ed2833;height: 100%;top:0px;left:0;position: relative;}
	.header_m .mainnav .ul{left: 0;top: 0;right: 0;bottom: 0;margin: auto;width: 98%;height: fit-content;padding: 5px;position: relative;text-align:center;display:table}
	.header_m .mainnav .ul li{cursor: pointer;background: url(../img/en/nav_line.png) no-repeat right center;padding: 0 20px;display: inline-block;}
	.header_m .mainnav .ul li a{color: #fffaf6;font-size: 16px;}
	.header_m .mainnav .ul li a:hover,.header_m .mainnav .ul .onnav a{ border-bottom:2px solid #fffaf6;}
	.header_m .mainnav .ul li#liSearch{background:none}
	/* .header_m .mainnav .ul li#liSearch:hover{background:#201c6f;} */
	.header_m .mainnav .ul li#liSearch span:hover,.header_m .mainnav .ul .onnav span{}
	
	/* slide down */
	.header_m .site_down{position:absolute;top:60px;right: 30px;display:none;}
	.header_m .site_down a{cursor:pointer}
	/* right-head */
	.header_m .right-head *{color:#fffaf6;font-size:16px;}
	.header_m .right-head{ width:20%;height:100%;float:left;background:#201c6f;overflow:hidden;position:relative;}
	.right-head .header_site{height:20px; float: right;top: 0;bottom: 0;right: 0px;margin: auto;position: absolute;cursor: pointer;}
	.right-head .ul{ margin: auto; float: left;left: 5px;top: 0;bottom: 0;position: absolute;width:70%;height: fit-content;}
	.header_m .right-head ul li{float:right}
	.right-head .ul i {display: inline-block;width: 18px;height: 18px;vertical-align: middle;background: url(../img/en/main/icon_01.png) no-repeat;}
	.right-head .ul a span{display: inline-block;padding: 6px 0;   }
	.right-head .ul a span:hover{border-bottom:1px solid #fffaf6}
	
	/* drop */
	.drop{overflow:hidden;position: relative; height:200px; /* min-height:150px; max-height:200px; height:auto; */ width: 100%;}
	.n_drop{width: 100%; height:100%; /* position:absolute; *//* min-height: 176px; */ margin: 0 auto; overflow:hidden;}
	.drop .tabname{height: 100%; float: left; width: 40%; /* margin-left: 17%; */ background:#201c6f;}
	.drop .tabcont{position:relative;height: 100%; float: left; width: 30%;}
	.drop .tabinf{position:relative;height: 100%; float: left; width: 20%;}
	
	.drop .tabcont .menu-lvl3-container{height: 100%;/* width: 40%; */position:absolute;margin-top: 25px;}
	.drop .tabcont .menu-lvl3-container .h-bar{height: 2px;width: 50px;background: #ed2833;float: left;}
	.drop .tabcont .menu-lvl3-container a.mn-child{height: 30px;min-width: 200px;float:left;left:0;}
	.drop .tabcont .menu-lvl3-container a.mn-child i{height: 2px;width: 50px;background: #ed2833;float: left;}
	.drop .tabcont .menu-lvl3-container a.mn-child span{float:left;margin-top:-10px;margin-left: 5px;font-size:16px;color:#000;/* font-weight: bold; */}
	.drop .tabcont .menu-lvl3-container a.mn-child span:hover{border-bottom:2px solid #201c6f;cursor:pointer;}
	.drop .tabcont .menu-lvl3-container span.h-saparate{height: 32px;width:2px;background:#ed2833;position:absolute;float:left;left: 50px;}
	
	.n_drop[data-name='1'] .ilist li{float: left; width: 90%;}
	.drop .tabcont .ilist{ float:right;right:0;position:absolute;width:58%;/* padding-left:182px; */ height:200px;}
	.drop .tabcont img{ position:relative;float:left; left:0;width:100px;height:160px;margin-top:20px;}
	.drop .tabcont li{  overflow: hidden; text-overflow: ellipsis; white-space: nowrap;padding-right: 15px;}
	.drop .tabcont li a{line-height: 24px;}
	.drop .tab .tabname ul{margin-top: 7px;float: right; width: 30%;}
	.drop .tab .tabname li{float: right; width: 100%; margin-bottom: 1px; padding: 10px; text-align: center;}
	.drop .tabname li a{font-size: 16px; /* padding-left: 1em;  */color: #fffaf6; white-space: nowrap;/*  background: url(../img/en/ier2.png) no-repeat left center; */}
	.drop .tabname li.on{background: #ed2833;}
	.drop .tabname .on,
	.drop .tabname .on a{/* color: #90c31f;  *//* background: #ed2833; */}
	.drop .tabnamePro {width: 25% !important; margin-left: 7% !important;}
	.drop .tabcont p{margin: 0;white-space: initial;}
	.drop .tabnameJie{width: 18% !important; margin-left: 14% !important;}
	
	.drop .n_drop .imgDiv{float: left;height: 100%;width: 20%;}
	.drop .n_drop .imgDiv .contImg{height:100%;}
	
	/* slider */
	.homeban_mb{ display:none;}
	.homeban_pc{ display:block;}
	.homeban .bx-wrapper img{ width:100%;}
	.homeban .bx-wrapper{ max-width:100% !important;}
	.homeban .bx-wrapper{ margin:0 auto;}
	.homeban .bx-wrapper .bx-pager.bx-default-pager a{ width:8px; height:8px; border:2px solid #ed2833;; border-radius:8px; background:none;}
	.homeban .bx-wrapper .bx-pager.bx-default-pager a:hover,
	.homeban .bx-wrapper .bx-pager.bx-default-pager a.active{ background:#ed2833;border-color:#ed2833;}
	.homeban .bx-wrapper .bx-pager,
	.homeban .bx-wrapper .bx-controls-auto{ bottom:10px;}
	.homeban_pc .slide .slide_a{ display:block; height:380px;}
	
	/* homeintro */
	.homeintro{ margin-bottom:45px;}
	.hi_banner img{ width:100%;height:100%}
	.homeintro .hi_text .h1{ font-size:20px; color:#000; font-weight:normal;}
	.hi_text h3, .hi_text h3 span, .hi_text h3, .hi_text h3 a{ font-size:20px; color:#201c6f; /* font-weight:normal; */}
	.homeintro .hi_text .MsoNormal span{ font-size:14px; color:#000; font-weight:normal;}
	.homeintro .hi_text .p{ color:#000000; text-indent:2em; margin-top:30px;}
	.homeintro .hi_text .p1{ font-size:18px; color:#d7d7d7; text-indent:0; margin:0 0 30px;}
	.homeintro .hi_text .more_a, .homeintro .hi_text_home .more_a{ display:block; width:135px; height:40px; line-height:40px; color:#fffaf6; text-align:center; background:#ed2833; border-radius:0px; margin-top:30px;}
	.homeintro .hi_text .more_a:hover, .hi_text_home .more_a:hover{background:rgb(253, 67, 79)}
	.homeintro .bx-controls-direction{ width:100px; height:60px; right:0; bottom:0; position:absolute;}
	.homeintro .bx-wrapper .bx-prev{ bottom:0;left:0; background:url(../img/en//left.png) rgba(255, 255, 255, 0.7) no-repeat center center;}
	.homeintro .bx-wrapper .bx-next{ bottom:0; right:0; background:url(../img/en/right.png) rgba(255, 255, 255, 0.7) no-repeat center center;}
	
	.hi_banner_home{ margin-right:40px;/* max-width:30%; width:350px; min-height:400px;position:relative; height:405px; margin-left:40px; */ float:left;}
	.hi_banner_home img{/* height:100%;width:100% */}
	.hi_banner{width: 750px;min-height: 215px;margin: auto;left: 0;right: 0;float: none;}
	.hi_banner>a{/* position:absolute;height:100%; */}
	.hi_text_home{ /* display: contents; */width:55%; float:left; /* padding-left:40px; */margin-top:40px;}
	.hi_text_home p, .txt-product p, .MsoNormal p{ text-align: justify;}
	.hi_text{width: 90%;float: none;left: 0;right: 0;margin: auto;}
	.hi_banner:hover{ opacity:0.5;}
	
	/* hn_list */
	.homenews{ padding-bottom:25px;}
	.hn_list{ margin-top:40px;}
	.hn_list .ul li{width: 32%;float:left;position: relative;min-height: 562px; border:1px solid #201c6f;margin: 5px 0; padding: 5px;}
	.hn_list .ul li:nth-child(3n+2){left:0.6%}
	.hn_list .ul li:nth-child(3n+3){float:right}
	
	/* .hn_list .ul li .hn_more{ width:40px;height:40px;bottom:0;right:0;float:right;} */
	.hn_list .ul li .hn_more, .right-container .hn_more{width:40px;height:40px;bottom:0;right:0; float: right;position: relative;}
	.hn_list .ul .hn_img{ position:relative;height:300px;overflow:hidden}
	.hn_img img{margin: auto;top: 0;bottom: 0;position: absolute;}
	/* .hn_img img:hover{ opacity:0.5} */
	/* .hn_img .hn_more{ width:40px;height:40px; background:url(../img/en/hn_more.png) #ed2833 no-repeat center center; position:absolute; bottom:0; right:0;display:none} */
	.hn_list .ul .hn_time{ font-size:20px; margin-top:5px;}
	.hn_list .ul .hn_time span{ font-size:20px; color:#000; padding-left:10px;}
	.hn_list .ul .h3{line-height:25px; height:25px; margin:5px 0 5px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
	h3, .h3, h3 *, .h3 *{ font-weight: bold !important;color:#201c6f; font-size:20px; }
	.hn_list .ul .h3 a:hover{border-bottom:1px solid #000}
	/* .hn_list .ul .p{font-size:14px; color:#000;overflow : hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 5;-webkit-box-orient: vertical;} */
	.hn_list .ul .p{position: relative;display: table-cell;font-size:14px;color:#000;}
	.sd3{ padding:60px 0 40px;}
	.sd1 .ul li{ width:13.8%; margin:0 0 0 2.5%;}
	.sd1 .ul li:first-child{ margin-left:0;}
	/* .sd3 .ul li:first-child{float:left} */
	.sd3 .ul li{float:left;width:49%;float:left;box-sizing: border-box;; margin-bottom:30px; border:1px solid #201c6f;padding-right:15px;}
	.sd3 .ul li:nth-child(2n){margin-left:2%;margin-right:0;}
	/* .sd3 .ul li:nth-child(3n-2){ margin-left:0;}
	.sd3 .ul li:nth-child(3n+1){clear: both;} */
	.sd3 .sd3_img{ width:40%;float:left;margin-left:5px;}
	.product_body .sd3 .sd3_img{ width:auto;float:left;margin-left:5px;}
	/* .sd3 .sd3_text{ width:54%; padding:5px 5px 10px;float:left;margin-top:30px;} */
	.sd3 .sd3_text{margin-top:30px;}
	.sd3 .sd3_text .h4{ margin-bottom:5px;}
	/* .sd3 .sd3_text .sd3_more{ display:block; width:135px; height:40px; line-height:40px; color:#fffaf6; text-align:center; background:#201c6f; border-radius:0px; margin-top:30px;} */
	.sd3 .sd3_text .sd3_more{line-height: 80px;color:#fffaf6;background:#201c6f;padding: 10px 30px;}
	.sd3 .sd3_text .sd3_more:hover{background:#2f2a9d }
	/* footer */
	.footer{padding:18px 0 35px;position: absolute;width:100%;background: #201c6f url(../img/en/main/bottom_bg.png) bottom right no-repeat;height:276px;}
	.footer>span.footer-text{position:absolute;color:#fffaf6;font-size:14px;text-align:right;right:10px;bottom:10px;;list-style:none}
	.footer .bottom_nav{ display:block; margin-bottom:30px;}
	.bottom_nav .ul{ display:table; text-align:center; margin:0 auto;}
	.bottom_nav .ul li{ float:left; text-align:left; width:141px;letter-spacing:0.7px;margin-right:16px;}
	.bottom_nav .ul li a{ font-size:14px; color:#fffaf6;}
	.bottom_nav .ul li a:hover{ color:#ed2833}
	.bottom_nav dl,.bottom_nav dd{ margin:0; padding:0;}
	.bottom_nav .ul dt{ color:#fffaf6;height:30px;position:relative;padding-left:1px;font-weight:normal;font-size:16px; font-family:SFUEurostileCondensed/* text-align:center */}
	.bottom_nav .ul dd{ height:20px; line-height:28px;font-family:SFUEurostileCondensed}
	
	.header_m .hsearch_m{ position:absolute; top:90px; right:20%; background:#201c6f; width:230px; padding:10px 15px; display:none; z-index:999;}
	.hsearch_m .hsearch_input{ background:#fffaf6; height:26px; border-radius:0px; padding:0 10px;color:#666460;}
	.hsearch_m .hsearch_btn .glyphicon{ color:#fffaf6; padding:6px 10px; font-size:16px;}
	
	.result_body .result_table table tbody tr td {border-right: 0px;}
	
	.contact_body{ padding:28px 0 60px;position:relative;/* height:1000px; */overflow:hidden}
	.contact_body .ul li{ padding:25px 20px; background:#f2f2f2; margin-bottom:35px;max-height:1000px}
	.contact_body .ul .h3{ font-size:20px; color:#90c31f; font-weight:normal; margin-bottom:15px;}
	.contact_body .ul dl,.contact_body .ul dd{ margin:0;}
	.contact_body .ul dl{ margin-top:15px;}
	.contact_body .ul dd{ color:#000000; margin-bottom:5px;}
	.contact_body .content-txt .info .txt-h1-up{color:#201c6f;font-size:30px}
	.contact_body .content-txt .info .txt-h1-low{color:#000;font-size:30px}
	.contact_body .content-txt .info .txt-title{color:#201c6f;font-size:18px}
	.contact_body .content-txt .info .txt-content{color:#000;font-size:18px}
	.contact_body .m2{float:left; width:65%}
	
	.download_body {min-height:200px;}
	
	.menu2{ text-align:center;margin-top:40px;}
	.menu2 span{padding: 0px 10px;margin-top:5px;display:inline-block;font-size: 20px;color:#fffaf6;cursor:pointer;background:#201c6f;height: 40px;width: 136px;line-height: 1.7;}
	.menu2 .onnav{ background:#ed2833;}
	.menu2 span:hover{background:rgb(253, 67, 79);}
	/* .menu .saparate, .menu2 .saparate{height:2px;width:50%;background:#201c6f;display:inline-block;margin-top:2px;} */
	.menu .saparate, .menu2 .saparate{height:2px;width:50%;background:#201c6f;display:inline-block;position: absolute;margin: auto;left: 0;right: 0;/* top: 0; *//* bottom: 1px; */}
	
	.menu .m {width: 600px; border-bottom: 2px solid #201c6f;}
	
	.menu div.item{margin-bottom: -2px}
	
	/* .menu div.item, .menu2 div.item{display: inline-block;width: auto;padding: unset;margin-left: 15px;min-width:250px;width:auto;} */
	.menu div.item, .menu2 div.item{display: inline-block;width: auto;padding: unset;/* margin-left: 15px; */min-width: 150px;width:auto;}
	.menu div.item:hover, .menu2 div.item:hover{border-bottom: 2px solid #2f2a9d;}

	.menu div.active:hover, .menu2 div.active:hover{border-bottom: 2px solid rgb(253, 67, 79);}

	.menu div.item.subitem.active, .menu2 div.item.subitem.active{border-bottom: 0 ;}
	.menu div.item.subitem:hover, .menu2 div.item.subitem:hover{border-bottom: 0;}
	/* .menu div.item{height: 60px;width: 150px;margin: auto;left: 0;right: 0;display: inline;} */
	
	.support-dl{margin-top:40px}
	.support-dl ul{margin: auto;width: 70%;border-bottom:2px solid #201c6f;margin-top:10px/* min-height: 40px; */}
	.support-dl ul li{display: inline-block; padding-bottom: 10px;/* padding:5px 10px;margin: 0 10px */}
	.support-dl ul li:first-child{border-right:2px solid #201c6f;min-width:200px}
	.support-dl ul li:first-child a{font-size:18px;color:#201c6f;font-weight:bold}
	
	.support-dl ul li a{padding:5px;margin:10px;}
	
	/* .support-dl ul li:nth-child(2) a, .support-dl ul li:nth-child(3) a{background:#ed2833;color:#fff} */
	
	.blog_body{min-height:1200px}

	.MsoNormal span, .hn_list .ul .p, .sd3 .sd3_text .p, .hi_text_home p, .txt-product p, .MsoNormal p{font-size:16px !important}
	
	.hi_text_home p.p_li, .txt-product .p_li{/* margin-left:20px; */margin-top: 0;}
	
	.about_body p.MsoNormal span p{margin-left:5px}
	
	.news_body{ padding:30px 10px;}
	.news_body .news_img img{ width:100%;}
	.news_body .news_text{ padding:15px;}
	.news_body .news_text .h3{overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
	.news_body .news_text .h3 a{ font-size:16px; color:#3b3b3b; font-weight:normal;}
	.news_body .news_text .h3 a:hover{ color:#90c31f;}
	.news_body .news_time{ margin:5px 0 10px;}
	.news_body .news_detail .p{ font-size:12px; color:#666; line-height:22px;height:66px;overflow : hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 3;-webkit-box-orient: vertical;}
	.news_body .news_detail .news_more{ font-size:12px; color:#90c31f;}
	.news_body .news_detail .news_more:hover{ text-decoration:underline;}
	
	.news_body .hn_list{margin-top:0}
	
	.pd_table{ padding-bottom:50px;margin-top:40px;}
	.pd_table table{ width:100%; margin-bottom:30px;}
	.pd_table table td{ text-align:center; min-width:40px; /* padding:30px 0; */ /* border:1px solid #ededed; */}
	.pd_table table .td1{ text-align:left; padding:0 60px;color:#000}
	.pd_table table .td2,.pd_table table .td3{ color:#000;}
	.pd_table table thead{ background:#transparent;}
	.pd_table table thead th{ padding:15px 0; color:#ed2833 !important; font-weight:normal;}
	.pd_table .td4 .download{ padding:15px 15px;display:inline-block; background: #ed2833 url(../img/arrow_03.png) center no-repeat;}
	.pd_table .td4 .download:hover{background-color:rgb(253, 67, 79)}
	.pd_table .td4 a{ display:block; color:#90c31f;}
	.pd_table table  a:hover{ color:#90c31f;}
	/* .pd_table .td4  a:hover .download{background:url(../img/arrow_down.png) no-repeat;} */
	.pd_table table .td2,.pd_table table .td3,.pd_table table .td4{ width:18%;}
	
	.download_body{ padding:30px 10px;}
	.download_body .db1{ border:1px solid #ededed; background:#f7f7f7; position:relative;}
	.download_body .db1:first-child{ border-bottom:none;}
	.download_body .pd_table .m2{width:70%}
	
	.img-list{margin-top: 40px;}
	.img-list .ul li{width: 33%;float: left;position: relative;}
	.img-list .ul li p{float: left;width: 90%;margin-left: 5%;}
	.img-list img{float: none;margin: 0;left: 0;right: 0;margin-left: 5%; width:90%}
	
	.news-detail .hi_banner {margin-top:20px; margin-bottom:30px}
	
	.mapouter{text-align:right;border: 2px solid #201c6f;height:540px; margin-top: 40px;}
	.gmap_canvas {overflow:hidden;background:none !important;width:100%;height:100%}
	
	.pages{ width:100%; padding:20px 0; text-align:center;}
	.pages .p_page a{position: relative;display:inline-block;border:1px solid #e9e9e9;font-style: normal;color:#999;margin-bottom:15px;height: 40px;width: 40px;background: #201c6f;line-height: 2.5;margin-left: 10px;color: #fff;}
	.pages .p_page .current,.pages .p_page a:hover{ color:#fffaf6; background:#ed2833;}
	.pages .p_page .a_cur,.pages .p_page a:hover{color:#fffaf6;background: #ed2833;}
	.pages .p_page a i{position: absolute;height: 12px;width: 16px;margin: auto;background: url(../img/arrow_02.png) no-repeat;top: 0;bottom: 0;left: 0;right: 0}
	.pages .p_page .a_next, .pages .p_page .a_prev{color: #201c6f;}
	.pages .p_page .a_next:hover, .pages .p_page .a_prev:hover{color: #201c6f;}
	.pages .p_page .a_prev{-webkit-transform: rotate(180deg);-moz-transform: rotate(180deg);-o-transform: rotate(180deg);-ms-transform: rotate(180deg);transform: rotate(180deg);}
	
	.download_body .pd_table table tr td:nth-child(2){text-align:left;padding-left: 10px;}
	.container_new{width:100%;max-width:1280px;margin:0 auto;box-sizing: border-box;}
	.container_new:after{content:"";display:block;clear:both;}
	.container_header{max-width:1290px;width:100%;margin:0 auto;}
	#horizonBar .container_new #btn-login{margin-right:0;}
	.bottom_nav .ul dt:after{content:"";height:2px;width:97px;background:#fffaf6;position:absolute;bottom:-2px;left:0;}
	.header:after{content:"";width:50%;height:90px;position:absolute;right:0;top:0;background:#201c6f;z-index:-1;}
	.header{position:relative;}
	.mar-bot-20{margin-bottom:20px!important;}
	.news-detail a[href]{
	  color:#201c6f;
	  font-weight:bold;
	}
	.news-detail a[href]:hover{
		color:#ed2833;
	}
	.right-head .header_site:before{
	  content:"";
	  position:absolute;
	  width:2px;
	  height:20px;
	  left:-2px;
	  top:2px;
	  background:red;
	}
	.right-head .header_site{right: 10px;padding-left: 7px;}
	.visible-xs{display:none;}
	.user-account .above-infor{margin-bottom:15px;}
	.tableft40{padding-left:40px;}
	p.no-margin-block-tb{margin-block-start: 0;margin-block-end: 0;}
	
	.container_new .hi_banner{width:auto;height:auto;min-height:auto}
	
	.error_message{color:red;font-style:italic;}
	/* .color-theme-default {background-color: #ed2833 !important;} */

/* Hiển thị cho thiết bị máy tính desktop thường */
@media (min-width: 2025px) {
	
}

@media(max-width:1399px){
	.container_new{padding:0 20px;}
}

/* Hiển thị cho thiết bị máy tính bảng lớn ngang */
@media (max-width: 1024px) {
	.product-detail>.img-product img{max-width: 300px; margin: auto;left: 0;right: 0;position: absolute;}
	.product-detail>.txt-product{width: 94%;margin-left: 3%;float: left;}
	
	.hn_list .ul li{width: 32%;float:left;position: relative;min-height: 662px;}
	
	.contact_body .container_new{padding:0 20px;}
	
	.hi_banner, .hi_banner_home {
		min-height: 276px;
		margin: auto;
		max-width: unset;
		float: unset;
		text-align: center;
	}
	.hi_text, .hi_text_home {
		float: unset;
		padding: unset;
		width: 100%;
		margin: auto;
		margin-top: 40px;
	}
}

/* Hiển thị cho thiết bị máy tính bảng ngang */
@media (max-width: 800px) {
	
}

/* Hiển thị cho thiết bị máy tính bảng lớn dọc */
@media (max-width: 768px) {
	.pt90{padding-top:130px !important;}
	.visible-xs{display:block;}
	html, body{overflow-x:hidden}
	.header_m{min-height: 130px;position:relative}
	.header_m .nav-btn{display:block;position: absolute;right: 50px;margin: auto;top: 0;bottom: 0;height: fit-content;background:#fff}
	.header_m .nav-btn span{color: #ed2833}
	.header_m .mainnav{ display:none;width:100%;position:absolute;top:130px;z-index: 9999;height:auto}
	.header_m .mainnav .ul{ margin:0 auto;display:table;margin-top:0 !important}
	.header_m .mainnav .ul li{float:left;padding: unset;width: 100%;height: 40px;border-bottom: 1px solid #fff;background: unset;}
	.header_m .mainnav .ul li:last-child{display:none}
	.header_m .mainnav .ul li:nth-child(7){border-bottom:none}
	.header_m .mainnav .ul li a{color: #fffaf6;font-size: 16px;margin: auto;top: 0;bottom: 0;line-height: 2.4;}
	.header_m .logo{width: 30%;height:90px}
	.header_m .logo img{width: 100px;height: 34px;}
	.header_m .right-head{ width:100%;height:40px;overflow:unset}
	
	.header_m .hsearch_m{top:131px;right:0px;width:260px;padding: 10px}
	
	.header_m div#bg-smartphone span.glyphicon-search{position: absolute;float: right;right: 20px;margin: auto;top: 0;bottom: 0;height: 10px;}
	.header_m div#bg-smartphone{display:block;height: 90px;width: 70%;position: absolute;background: #ed2833;float: right;right: 0;}
	
	.right-head .header_site{width: unset;float: right;right: 10px;position: absolute;margin: auto;left: unset;top: 0;bottom: 0;}
	.right-head .ul{float: right;width: unset;left: unset;right: 70px;top: 1px;bottom: 0;}
	
	.hi_banner, .hi_banner_home{min-height:276px;margin:auto;max-width:unset;float:unset;text-align:center;}
	.hi_text, .hi_text_home{ float: unset; padding: unset; width: 100%; margin: auto;margin-top:40px;}
	.hi_text_home{display:block}
	
	.hn_list .ul li:first-child{ margin-top: 0px;}
	.hn_list .ul li{ width: 100%;margin: auto;float: none;margin-top: 40px;}

	.home_h .home_hmore, .timeline-event-content .home_hmore{text-align:center;position:relative;margin-right: 10px;margin-top: 10px;line-height:2.5;display:block; /* width: 120px; height: 40px;*/float:right;}
	
	.sd3 .ul li{ width: 100%;float: none;overflow:hidden;}
	.sd3 .ul li:nth-child(2n){margin-left:0;}
	/* .sd3 .sd3_text{ margin-bottom:10%;} */
	
	.contact_body .container{width:94% !important;position:relative !important;float: left;left: 20%;max-width: 60%;top: 40px;min-height:130px}
	.contact_body .m2{width:98% !important;position:relative !important}
	.contact_body .m2 .content-txt .mapouter{width:94% !important;margin: auto;}
	
	.product-detail>.img-product{}
	
	.product-detail{height:auto}
	.product-detail>.img-product{/* width: 100%; */margin: auto;left: 0;right: 0;display: block;clear: both;}
	.product-detail>.txt-product{width: 90%;float: none;margin: auto;left: 0;right: 0;display: block;}
	
	.header_m .site_down{ left: unset;top: 40px;right: 10px;background: #201c6f;padding: 2px;z-index: 9999;padding:10px}
	
	.footer .bottom_nav{display:none}
	.footer{height:95px;background:url(../img/en/main/bottom_bg.png) bottom right no-repeat}
	.footer>span.footer-text{right:2px;bottom:10px}
	
	.gotop{bottom: 76px;right: 3%;}
	
	.sd3 .ul li:first-child{float:none}
	
	.content-txt .info{width: 94%;margin: auto;margin-bottom: 40px;}
	.menu2 .saparate, .menu .saparate{width:100%}
	
	.sd2 .sd2_img img,.sd3 .sd3_img img{max-width:150px}
	
	.pd_table table .td1{ padding:0px;}
	
	/* .contact_body .container{padding-left:0px;padding-right:0px;} */
	/* .content-txt{padding:unset} */

	.menu a, .menu2 a{padding:0 2px;}
	.menu div.item, .menu2 div.item{padding:unset;margin-left: 1px;}
	.menu .m {width:unset}
	.sd3 .sd3_text{ margin-top:10px;}
	
	.hn_list .ul li{min-height: unset}
	.hn_list .ul li:nth-child(3n+2){left:unset}
	.hn_list .ul li:nth-child(3n+3){float:unset}

	.about_body{padding:unset}

	.news_body{padding:30px 10px;padding-left: unset;padding-right: unset;}

	.contact_body{padding:unset;padding-top: 40px}

	/* .hi_banner{min-height:276px;} */
	
	.news_news_1, .news_news_2, news_news_3, news_news_4{min-height:600px}
	
	/* .support-dl ul{margin-top:10px} */
	.support-dl ul li{padding-bottom: 10px;}
	.support-dl ul li:first-child{min-width: 140px;}
	
	.download_body .pd_table .m2{width:94%} 
	.support-dl ul{width:94%}
	
	.product-detail>.img-product img{position: relative;}
	
	.hn_list .ul .hn_img{ position:relative;height:550px;}
	.timeline-wrapper{width:100%;}
	
	.pd3_m .list .tex{overflow:auto;}
	#_content{overflow:auto !important;}
}

@media (min-width: 768px) {
	
}

/* Hiển thị cho thiết bị máy tính bảng dọc */
@media (max-width: 600px) {
	
}

/* Hiển thị cho thiết bị điện thoại di động ngang */
@media (max-width: 480px) {
	.product_body .sd3 .sd3_text{margin-top: 20px;width: 50%;float: left;}
	.product_body .sd3 .sd3_img{margin-top: 20%;}
	.product-detail>.img-product{width:100%}
	.product-detail>.img-product img{position: absolute;}
	.hn_list .ul .hn_img{height: 300px;}
	.contact_body .container{left: 5%;right: unset;max-width: 90%;min-height: 1100px;}
		.footer>span.footer-text{right: 10px;font-size: 12px;}
		
	.img-list .ul li{width: 94%;margin-left:3%}
	.img-list .ul li p{float: left;width: 90%;margin-left: 5%;}
	.img-list img{float: none;margin: 0;left: 0;right: 0;margin-left: 5%;}
	.horizonBar .container_new > i{
		margin-left:0!important;
	}
	.horizonBar a i{
		margin-left:5!important;
	}
	
}

@media (max-width: 360px) {
	.horizonBar .home_hmore{
		width:120px;
		margin-right:0;
	}
}

/* Hiển thị cho thiết bị điện thoại di động dọc */
@media (max-width: 320px) {
	.product_body .sd3 .sd3_text{margin-left: 4%;width: 95%;}
	.product_body .sd3 .sd3_img{margin-left: 4%;width: 95%; margin-top: 0;}
	.product_body .sd3 .sd3_img img{float: left; margin-left: 20%;}
	.hn_list .ul .hn_img{height: 200px;}
	.img-list img{margin-left:unset}
	.img-list .ul li p{margin-left:3%;}
}

/**/

/*colorbox.css*/
/*
    Colorbox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto; -webkit-overflow-scrolling: touch;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block; max-width:none; -ms-interpolation-mode:bicubic;}
.cboxIframe{width:100%; height:100%; display:block; border:0;}
#colorbox, #cboxContent, #cboxLoadedContent{box-sizing:content-box; -moz-box-sizing:content-box; -webkit-box-sizing:content-box;}

/*
    User Style:
    Change the following styles to modify the appearance of Colorbox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay{background:url(images/overlay.png) repeat 0 0;}
#colorbox{outline:0;}
    #cboxTopLeft{width:21px; height:21px; background:url(images/controls.png) no-repeat -101px 0;}
    #cboxTopRight{width:21px; height:21px; background:url(images/controls.png) no-repeat -130px 0;}
    #cboxBottomLeft{width:21px; height:21px; background:url(images/controls.png) no-repeat -101px -29px;}
    #cboxBottomRight{width:21px; height:21px; background:url(images/controls.png) no-repeat -130px -29px;}
    #cboxMiddleLeft{width:21px; background:url(images/controls.png) left top repeat-y;}
    #cboxMiddleRight{width:21px; background:url(images/controls.png) right top repeat-y;}
    #cboxTopCenter{height:21px; background:url(images/border.png) 0 0 repeat-x;}
    #cboxBottomCenter{height:21px; background:url(images/border.png) 0 -29px repeat-x;}
    #cboxContent{background:#fff; overflow:hidden;}
        .cboxIframe{background:#fff;}
        #cboxError{padding:50px; border:1px solid #ccc;}
        #cboxLoadedContent{margin-bottom:28px;}
        #cboxTitle{position:absolute; bottom:4px; left:0; text-align:center; width:100%; color:#949494;}
        #cboxCurrent{position:absolute; bottom:4px; left:58px; color:#949494;}
        #cboxLoadingOverlay{background:url(images/loading_background.png) no-repeat center center;}
        #cboxLoadingGraphic{background:url(images/loading.gif) no-repeat center center;}

        /* these elements are buttons, and may need to have additional styles reset to avoid unwanted base styles */
        #cboxPrevious, #cboxNext, #cboxSlideshow, #cboxClose {border:0; padding:0; margin:0; overflow:visible; width:auto; background:none; }

        /* avoid outlines on :active (mouseclick), but preserve outlines on :focus (tabbed navigating) */
        #cboxPrevious:active, #cboxNext:active, #cboxSlideshow:active, #cboxClose:active {outline:0;}

        #cboxSlideshow{position:absolute; bottom:4px; right:30px; color:#0092ef;}
        #cboxPrevious{position:absolute; bottom:0; left:0; background:url(images/controls.png) no-repeat -75px 0; width:25px; height:25px; text-indent:-9999px;}
        #cboxPrevious:hover{background-position:-75px -25px;}
        #cboxNext{position:absolute; bottom:0; left:27px; background:url(images/controls.png) no-repeat -50px 0; width:25px; height:25px; text-indent:-9999px;}
        #cboxNext:hover{background-position:-50px -25px;}
        #cboxClose{position:absolute; bottom:0; right:0; background:url(images/controls.png) no-repeat -25px 0; width:25px; height:25px; text-indent:-9999px;}
        #cboxClose:hover{background-position:-25px -25px;}

/*
  The following fixes a problem where IE7 and IE8 replace a PNG's alpha transparency with a black fill
  when an alpha filter (opacity change) is set on the element or ancestor element.  This style is not applied to or needed in IE9.
  See: http://jacklmoore.com/notes/ie-transparency-problems/
*/
.cboxIE #cboxTopLeft,
.cboxIE #cboxTopCenter,
.cboxIE #cboxTopRight,
.cboxIE #cboxBottomLeft,
.cboxIE #cboxBottomCenter,
.cboxIE #cboxBottomRight,
.cboxIE #cboxMiddleLeft,
.cboxIE #cboxMiddleRight {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);
}

/* popup.css */
.modal {
   max-width: 1280px;
    display: none;
    position: fixed;
    z-index: 1;
    /* padding-top: 210px; */
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    /* background-color: rgb(0,0,0); */
    /* background-color: rgba(0,0,0,0.4); */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    /* padding: 20px; */
    border: 2px solid #201c6f;
    width: 260px;
    height: 185px;
	top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
	position:absolute;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* jquery.bxslider.css */
/** * BxSlider v4.1.2 - Fully loaded,responsive content slider * http://bxslider.com * * Written by:Steven Wanderski,2014 * http://stevenwanderski.com * (while drinking Belgian ales and listening to jazz) * * CEO and founder of bxCreative,LTD * http://bxcreative.com *//** RESET AND LAYOUT===================================*/
.bx-wrapper {position:relative;margin:0 auto 60px;padding:0;*zoom:1;}
.bx-wrapper img {max-width:100%;display:block;}
/** THEME===================================*/
.bx-wrapper .bx-viewport {-moz-box-shadow:0 0 5px #ccc;-webkit-box-shadow:0 0 5px #ccc;box-shadow:0 0 5px #ccc;border:5px solid #fff;left:-5px;background:#fff;/*fix other elements on the page moving (on Chrome)*/-webkit-transform:translatez(0);-moz-transform:translatez(0);-ms-transform:translatez(0);-o-transform:translatez(0);transform:translatez(0);}
.bx-wrapper .bx-pager,.bx-wrapper .bx-controls-auto {position:absolute;bottom:-30px;width:100%;}
/* LOADER */
.bx-wrapper .bx-loading {min-height:50px;background:url(../images/bx_loader.gif) center center no-repeat #fff;height:100%;width:100%;position:absolute;top:0;left:0;z-index:2000;}
/* PAGER */
.bx-wrapper .bx-pager {text-align:center;font-size:.85em;font-family:Arial;font-weight:bold;color:#666;padding-top:20px;}
.bx-wrapper .bx-pager .bx-pager-item,.bx-wrapper .bx-controls-auto .bx-controls-auto-item {display:inline-block;*zoom:1;*display:inline;}
.bx-wrapper .bx-pager.bx-default-pager a {background:#666;text-indent:-9999px;display:block;width:10px;height:10px;margin:0 5px;outline:0;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;}
.bx-wrapper .bx-pager.bx-default-pager a:hover,.bx-wrapper .bx-pager.bx-default-pager a.active {background:#000;}
/* DIRECTION CONTROLS (NEXT / PREV) */
.bx-wrapper .bx-prev {left:10px;background:url(../images/controls.png) no-repeat 0 -32px;}
.bx-wrapper .bx-next {right:10px;background:url(../images/controls.png) no-repeat -43px -32px;}
.bx-wrapper .bx-prev:hover {background-position:0 0;}
.bx-wrapper .bx-next:hover {background-position:-43px 0;}
.bx-wrapper .bx-controls-direction a {position:absolute;top:50%;margin-top:-16px;outline:0;width:32px;height:32px;text-indent:-9999px;z-index:9999;}
.bx-wrapper .bx-controls-direction a.disabled {display:none;}
/* AUTO CONTROLS (START / STOP) */
.bx-wrapper .bx-controls-auto {text-align:center;}
.bx-wrapper .bx-controls-auto .bx-start {display:block;text-indent:-9999px;width:10px;height:11px;outline:0;background:url(../images/controls.png) -86px -11px no-repeat;margin:0 3px;}
.bx-wrapper .bx-controls-auto .bx-start:hover,.bx-wrapper .bx-controls-auto .bx-start.active {background-position:-86px 0;}
.bx-wrapper .bx-controls-auto .bx-stop {display:block;text-indent:-9999px;width:9px;height:11px;outline:0;background:url(../images/controls.png) -86px -44px no-repeat;margin:0 3px;}
.bx-wrapper .bx-controls-auto .bx-stop:hover,.bx-wrapper .bx-controls-auto .bx-stop.active {background-position:-86px -33px;}
/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {text-align:left;width:80%;}
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {right:0;width:35px;}
/* IMAGE CAPTIONS */.bx-wrapper .bx-caption {position:absolute;bottom:0;left:0;background:#666\9;background:rgba(80,80,80,0.75);width:100%;}
.bx-wrapper .bx-caption span {color:#fff;font-family:Arial;display:block;font-size:.85em;padding:10px;}
.fixed-navigation {position:fixed;width:100%;z-index:9999;background:#fff;}
.blog_page_detail a {cursor:pointer;color:#201c6f;}
