/*
/* Created by Filipe Pina
 * Specific styles of signin, register, component
 */
/*
 * General styles
 */
#playground-container {
    height: 500px;
    overflow: hidden !important;
    -webkit-overflow-scrolling: touch;
}
/* body, html{
     height: 100%;
 	background-repeat: no-repeat;
 	background:url(https://i.ytimg.com/vi/4kfXjatgeEU/maxresdefault.jpg);
 	font-family: 'Oxygen', sans-serif;
	    background-size: cover;
} */

.main{
 	margin:0px;
}

h1.title { 
	font-size: 50px;
	font-family: 'Passion One', cursive; 
	font-weight: 400; 
}

hr{
	width: 10%;
	color: #fffaf6;
}

.form-group{
	margin-bottom: 15px;
}

/* label{
	margin-bottom: 15px;
} */

input,
input::-webkit-input-placeholder {
   /*  font-size: 11px; */
    padding-top: 3px;
    color: #201c6f !important;
}

.main-login{
 	background-color: #fffaf6;
    /* shadows and rounded borders */
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);

}
.form-control {
    height: auto!important;
padding: 8px 12px !important;
}
.input-group {
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.21)!important;
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.21)!important;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.21)!important;
    width:100%;
}

.input-group,.container select{margin-top:10px;}

#button {
    border: 1px solid #ccc;
    margin-top: 28px;
    padding: 6px 12px;
    color: #666;
    text-shadow: 0 1px #fffaf6;
    cursor: pointer;
    -moz-border-radius: 0px 0px;
    -webkit-border-radius: 0px 0px;
    border-radius: 0px 0px;
    -moz-box-shadow: 0 1px #fffaf6 inset, 0 1px #ddd;
    -webkit-box-shadow: 0 1px #fffaf6 inset, 0 1px #ddd;
    box-shadow: 0 1px #fffaf6 inset, 0 1px #ddd;
    background: #f5f5f5;
    background: -moz-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f5f5f5), color-stop(100%, #eeeeee));
    background: -webkit-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
    background: -o-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
    background: -ms-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
    background: linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#eeeeee', GradientType=0);
}

.main-center{
 	padding: 10px 20px;
 	background:#201c6f;
 	color: #fffaf6;
 	text-shadow: none;
 	-webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);
 	-moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);
 	box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);
}

.main-center .head-text{
	font-size:30px;
}
.main-center .sub-text{
	font-size:18px;
	float:left;
}
.main-center #btnResident{
	background:#fffaf6;
	color:#201c6f;
	border-radius:0;
	margin-top:20px;
	width:50%;
	height:40px;
	font-size:16px;
}
.main-center #btnNext{
	width:50%;
	height:40px;
}
.main-center .label-group-radio{
	font-size:14px;
}
span.input-group-addon i {
    color: #009edf;
    font-size: 17px;
}

.login-button{
	margin-top: 5px;
}

.login-register{
	font-size: 11px;
	text-align: center;
}

.content-txt .info label.saparate{
	height:2px;width:200px;background:#201c6f;margin-top: 15px;
}

.container{/* display: none; */float: right;position: relative;right:0;top:210px;width:30%;padding: 0;margin: 0;max-width:450px;}
.container *{font-weight: normal;box-shadow: none;}

/* .container select {
	-webkit-appearance: none;
	-moz-appearance: none;
	color: #201c6f;
	border-radius:0;
	background-image: linear-gradient(45deg, transparent 50%, #ed2833 50%), linear-gradient(135deg, #ed2833 50%, transparent 50%), linear-gradient(to right, #fff, #fff);
	background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    100% 0;
	background-size:
    5px 5px,
    5px 5px,
    2.5em 2.5em;
	background-repeat: no-repeat;
} */

.container select {
	-webkit-appearance: none;
	-moz-appearance: none;
	color: #201c6f;
	border-radius:0;
	background-image: url(../img/arrow_01.png);
	background-position: calc(100% - 20px) calc(1em + 2px),      calc(100% - 15px) calc(1em + 2px),      100% 0;
	background-size: 13px 8px;
	background-repeat: no-repeat;
}

.container input[type='text'] {
	color: #201c6f;
	border-radius:0;
}

.input-group-addon {
	border-radius:0;
}


/* ----------------- */

label {
    display: inline;
}
.radio-1 {
    width: 193px;
}
.button-holder {
    float: left;
    margin-left: 6px;
    margin-top: 16px;
}
.regular-radio {
    display: none;
}
.regular-radio + label {
    background-color: #fafafa;
    border: 2px solid #cacece;
    border-radius: 50px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 -15px 10px -12px rgba(0, 0, 0, 0.05) inset;
    display: inline-block;
    padding: 6px;
    position: relative;

}
.regular-radio:checked + label:after {
    background: none repeat scroll 0 0 #ed2833;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3) inset;
    content: " ";
    height: 8px;
    left: 2.46px;
    position: absolute;
    top: 2px;
    width: 8px;
}
.regular-radio:checked + label {
    background-color: #fff;
    border: 2px solid #adb8c0;
    color: #99a1a7;
    padding: 6px;
}
.regular-radio + label:active, .regular-radio:checked + label:active {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 1px 3px rgba(0, 0, 0, 0.1) inset;
}

.dv-radio-group{width:100%;display:inline-block;clear: both;margin-top:5px}
.dv-radio-group *{float:left}
.dv-radio-group .txt{margin-left:10px;margin-top:-2px;width: 90%;}
.dv-radio-group .lbl_radio{margin-bottom:0px}

.sizing-content{box-sizing: content-box;}
.qa_contact{top:0;max-width:360px;margin-top:2px;}
.info_be_login{letter-spacing: -0.78px;line-height: 1.222;padding: 8px 18px 12px;background:#201c6f;color:#fff;font-size:18px;margin-bottom:20px;}
.cls-img{float: left;margin-right: 10px;}
.above-infor{display: block;clear: both;position: relative;overflow: hidden;}
.input-group textarea::-webkit-input-placeholder{color:#201c6f;}
.input-group textarea{color: #201c6f;}
#horizonBar .container_new .h2{margin-top: 13px;}
.qa_contact .main-login{padding: 17px 19px 17px 20px;}
.qa_contact .main-login .above-infor{margin-bottom:20px;}
.qa_contact .main-login .input-group{margin-top:9px;}
.qa_contact .main-login .form-control{padding:4px 11px!important}
.qa_contact .main-login .form-group{margin-bottom:11px;}
.qa_contact .main-login .form-group .control-label{letter-spacing:-1px;}
.qa_contact .main-login .form-group #btnNext{margin-top:16px;}
.wrap_h1_up{margin:0;margin-bottom:10px;}
.wrap_txt_h1{display:inline-block;line-height:24px;border-bottom:2px solid #201c6f;margin-bottom:8px;}
.txt-h1-low{padding-bottom:29px;display:inline-block;}
.contact_body .info{line-height: 1.6667;font-size: 18px;}
